/***************************************************
** STYLES FOR WIDGET
***************************************************/
.location-widget-outer {
  background: #295985;
  padding: 0;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.location-widget-inner .location-widget-title {
  display: block;
  text-align: center;
  font-size: 1.2em;
  border-radius: 8px 8px 0 0;
  font-family: "Open Sans";
  padding: 10px 15px;
  color: white;
  background: maroon;
  border-bottom: 1px solid #1d3f5e;
}
.location-widget-inner .location-widget-links {
  display: block;
  position: relative;
  border-radius: 0 0 8px 8px;
  margin: 0;
  padding: 0;
}
.location-widget-inner .location-widget-links li {
  display: block;
  padding: none;
  list-style-type: none;
  margin: 0;
}
.location-widget-inner .location-widget-links li:nth-last-of-type(1) {
  border-radius: 0 0 8px 8px;
}
.location-widget-inner .location-widget-links li:nth-last-of-type(1) a {
  border-radius: 0 0 8px 8px;
  border-bottom: none;
}
.location-widget-inner .location-widget-links a {
  text-decoration: none;
  color: white;
  background: #295985;
  display: block;
  padding: 10px 15px;
  transition: all 0.1s;
  font-size: 0.9em;
  border-bottom: 1px solid #1d3f5e;
}
.location-widget-inner .location-widget-links a:hover {
  background: #1d3f5e;
  color: white;
}
