/******************************************************************
Stylesheet: Admin Stylesheet

These styles are applied to the Wordpress Admin Area
******************************************************************/
#custom_page_metabox {
  display: none; }

.show {
  display: block !important; }
