/*--------------------------------------------
Setting Up Susy Grid
---------------------------------------------*/


/*--------------------------------------------
Setting Up Susy
---------------------------------------------*/


$susy: (
  columns: 12,
  gutters: .45,
  container: 1145px,
  gutter-position: after,
);


.wrapper {
  @include container();
  margin: 0 auto;
  padding: 0 10px;
}


/*--------------------------------------------
Default Layout
---------------------------------------------*/

#main {
  //Mobile Style
  @include span(12);

  //Tablet & Desktop Style
  @media screen and (min-width: 768px){
    width: calc(100% - 320px);
    margin-right: 20px;
    padding-right: 20px;
  }

}

#sidebar {
  @include span(12);

 //Tablet & Desktop Style
  @media screen and (min-width: 768px){
      width: 300px;
      float: left;
  }


  @media screen and (max-width: 767px){
    max-width: 400px;
    float: none;
    margin: 20px auto;
    clear: both;
  }
}


/*--------------------------------------------
Full Width Layout
---------------------------------------------*/

#main-full {
  //Mobile Style
  @include span(12);
}





/*--------------------------------------------
Some Common Layout Blockss
---------------------------------------------*/


.row {
  @include container();
}

.one-half {
  //Mobile Style
  @include span(12);

  //Tablets and Up Style (Three Column)
  @media screen and (min-width: 768px){
    @include span(6);
    &:nth-of-type(2n){
      @include last();
    }
  }
}


.one-third {
  //Mobile Style
  @include span(12);

  //Tablets and Up Style (Three Column)
  @media screen and (min-width: 768px){
    @include span(4);
    &:nth-of-type(3n){
      @include last();
    }
  }
}


.one-fourth {

  @include span(12);

 //Tablet Style (Two Column)
  @media screen and (min-width: 768px) and (max-width: 1139px){
    @include span(6);
    &:nth-of-type(2n){
      @include last();
    }
  }

  //Desktop Style (Four Column)
 @media screen and (min-width: 1140px){
    @include span(3);
        &:nth-of-type(4n){
      @include last();
    }
  }

}

