/*--------------------------------------------
Print Styles
---------------------------------------------*/

 * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter:none !important;
    -ms-filter: none !important;
  }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline;

  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr, img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

    @page {
      margin: 0.5cm;
    }

    p, h2, h3 {
      orphans: 3;
      widows: 3;
    }

    h2,
    h3 {
      page-break-after: avoid;
    }


.header.mobile-header {
  display: none !important;
}

header.header {
  display: block !important;
  box-shadow: none;
  margin-bottom: 0;
  margin-left: 30px;
  position: static;
}

p#logo.h1 {
  margin: 10px 0;
}
#container {
  padding-top: 10px;
}

.sticky-footer-container {
  display: block;
}

#page-footer {
  display: block;
  margin: 0 auto;
}