/*--------------------------------------------
Return to Top Arrow
---------------------------------------------*/


#return-to-top {
    position: fixed;
    bottom: 150px;
    right: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    width: 40px;
    height: 40px;
    z-index: 99;
    opacity: 0;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top i {
    font-style: normal;
    color: #fff;
    margin: 0;
    position: relative;
    left: 10px;
    top: 4px;
    font-size: 30px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    color: #fff;
    top: 2px;
}

.top-visible {
    opacity: 1 !important;
    transition: all 0.3s ease;
    right: 20px !important;
}