/*--------------------------------------------
Searchbox Styles
---------------------------------------------*/

.sb-slidebar {
    .search-box:after {
        right: 18px;
    }
    .search-box {
        padding-right: 15px;
    }
}

.search-box {

    height: auto;
    padding: 10px;
    margin-bottom: 0;
    position: relative;
    transition: all 400ms ease;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    color: $black;
    background:$slideNavtopLevelBackgroundColor;
    border-bottom: 1px solid $slideNavLinkBottomBorder;

    &:hover, &:focus {
        background: $slideNavtopLevelBackgroundHoverColor;
    }

    input {
        width: 100%;
        padding: 8px 50px 8px 12px;
        margin: 0;
        display: block;
        position: relative;
        z-index: 0;
        max-width: none;

        &.search-submit {

            opacity: 0;
            position: absolute;
            top: 10px;
            height: 37px;
            right: 10px;
            width: 40px;
            border-radius: 3px;
            z-index: 30;
            padding-right: 0;
        }

    }
}

.search-box:after {
    content: '\f002';
    position: absolute;
    top: 15px;
    right: 10px;
    width: 30px;
    color: #bbb;
    cursor: pointer;
    font-size: 18px;
    text-align: right;
    padding-right: 2%;
    padding-top: 0;
    z-index: 0;
    font-family: fontawesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.3s;
}


.search-box:hover:after, .search-box:focus:after {
    color: #333;
}
.search-box.show {
    position: fixed;
    top: 50px;
    z-index: 5;
        transition: all 400ms ease;

}


.admin-bar {
    .search-box.show {
        top: 96px;
    }
}

.no-shadow {
    box-shadow: none;
}

.footer-search-title {
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 1.3em;
}

.search-box-wrapper {
    padding-bottom: 10px;
    margin-bottom: 10px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #fff;
}

.home .search-box-wrapper {
    border-bottom: none !important;
}

@media screen and (min-width: 768px){

    .desktop-search {
        display: block;
    }

    .desktop-search.search-box {
        background: transparent;
        height: auto;
        padding: 10px;
        margin-bottom: 0;
        margin-right: auto;
        padding-right: 0;
        margin-left: auto;
        left: auto;
        margin-top: 10px;
        transition: all 400ms linear;
        box-shadow: none;
        color: $black;
        margin-top: 7px;
        border-bottom: 0;
        max-width: 220px;

        input {
            z-index: 0;

            &.search-submit {
                z-index: 2;
            }
        }
    }
}

.search-result-did-you-mean {
    font-size: 1.1em;
    margin-top: 10px;
}

/*--------------------------------------------
Sidebar Search Styles
---------------------------------------------*/

.sidebar {

    .widget_search {

        background: $cordisco-blue;
        border-radius: 5px;
        box-shadow: 0 1px 2px rgba(0,0,0,.3);
        border: 1px solid #7190ad;

        h4.widgettitle {
            color: #fff;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .search-box {
            background: transparent !important;
        }

    }

} //End .sidebar Wrapper



/*--------------------------------------------
Homepage Search Styles
---------------------------------------------*/

.homepage-search-row {

    padding-top: 20px;
    text-align: center;

    .homepage-search-title {
        text-align: center;
        color: $cordisco-blue;
        font-size: 1.3em;
    }

    hr {
        margin-bottom: 20px;
        background-image: linear-gradient(to right,transparent,rgba(169, 161, 161, 0.75),transparent);
    }

} //End .homepage-search-row



/*--------------------------------------------
Desktop Header Search Styles
---------------------------------------------*/

.desktop-header-searchbox {

    overflow: hidden;

    &:hover {
        .search-submit {
              background: darken(#3b80bf, 10%) !important;
        }
    }

    .search-submit {
        right: 0 !important;
        background: #3b80bf !important;
        color: #fff !important;
        height: 39px !important;
        transition: 0.2s;
        opacity: 1 !important;
        z-index: 5;
        border: none;



        &:hover {
            background: darken(#3b80bf, 10%) !important;
        }
    }

    .search-box {

        max-width: 280px;

        &:after {
            color: #fff !important;
            position: absolute !important;
            z-index: 20 !important;
            right: 6px !important;
            top: 17px !important;
        }
    }

} //End .desktop-header-searchbox


/*--------------------------------------------
Hide FAQ results on Search Sidebar
---------------------------------------------*/

.search-results {
    .random-faq-loop {
        display: none;
    }
}


