.testimonials{
    background: $cordisco-blue;
    position: relative;
    padding: 30px 0;
    //height: 150px;

    .wrapper{
        position: relative;
    }

    .single-testimonial-inner{
        position: relative;
        padding: 0 100px;

        @media screen and (max-width: 650px){
            padding: 0 15px;
        }

        .quote-content{
            font-size: 1.6rem;
            font-weight: normal;
            color: #fff;
            display: block;
            text-align: center;
            font-family: $serif;
            margin-bottom: 5px;

            @media screen and (max-width: 650px){
              font-size: 1.4rem;
            }

            @media screen and (min-width: 768px){
                font-size: 1.8rem;
            }
        }

        .quote-author{
            font-size: 18px;
            float: right;
            color: #fff;
            font-family: $serif;
        }

    }


    .left-quote{
        color: #fff;;
        font-family: arial;
        font-size: 200px;
        position: absolute;
        left: 0;
        top: 54px;
        line-height: 50px;

         @media screen and (max-width: 650px){
            color: #204261;
         }
    }

    .right-quote{
        color: #fff;;
        font-family: arial;
        font-size: 200px;
        position: absolute;
        right: 0;
        bottom: -48px;
        line-height: 50px;

         @media screen and (max-width: 650px){
            color: #204261;
         }
    }

    .flexslider{
        margin-bottom: 0;
        background: transparent;
        border: none;

        .flex-control-nav{
            bottom: -10px;
            z-index: 500;
        }
    }

    .single-footer-quote{
        position: relative;
    }


}


/*------------------------------------------------
AVVO Testimonials
-------------------------------------------------*/


//Avvo Button Styles
.avvo-review-button {

    display: inline-block;
    margin-right: 20px;
    color: #fff;
    position: relative;
    padding: 10px 10px 10px 40px;
    background: #FF7441;
    background-image: linear-gradient(to bottom, #FF7441 0%, #ff652d 100%);
    background-repeat: repeat-x;
    border-bottom: 2px solid #9F3F3E;
    border-radius: 4px;
    text-decoration: none;
    transition: all 0.2s;
    margin-bottom: 10px;

    &:before {
        content: '';
        position: absolute;
        top: 12px;
        left: 10px;
        display: block;
        right: 0;
        background: url(../images/avvo-logo-50.png);
        height: 20px;
        width: 20px;
        background-repeat: no-repeat;
    }

    &:hover {
        color: #fff;
        background: #ff8355;
        text-decoration: none;
    }


} //End .avvo-review-button


//Avvo Review Feed Styles
