/*--------------------------------------------
Typography
---------------------------------------------*/


//Font Stacks
$sans-serif:        "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$serif:             "Lusitana", "Georgia", Cambria, Times New Roman, Times, serif;



@font-face {
    font-family: 'Oswald';
    font-display: fallback;
    src: url('../fonts/Oswald-Regular.eot');
    src: url('../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Oswald-Regular.woff') format('woff'),
        url('../fonts/Oswald-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'Oswald';
    font-display: fallback;
    src: url('../fonts/Oswald-Light.eot');
    src: url('../fonts/Oswald-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Oswald-Light.woff') format('woff'),
        url('../fonts/Oswald-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}*/

@font-face {
    font-family: 'Oswald';
    font-display: fallback;
    src: url('../fonts/Oswald-Bold.eot');
    src: url('../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Oswald-Bold.woff') format('woff'),
        url('../fonts/Oswald-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'Open Sans';
    font-display: fallback;
    src: url('../fonts/OpenSans-Italic.eot');
    src: url('../fonts/OpenSans-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Italic.woff') format('woff'),
        url('../fonts/OpenSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

/*
@font-face {
    font-family: 'Open Sans';
    font-display: fallback;
    src: url('../fonts/OpenSans-Light.eot');
    src: url('../fonts/OpenSans-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Light.woff') format('woff'),
        url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}*/
/*
@font-face {
    font-family: 'Open Sans';
    font-display: fallback;
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Semibold.woff') format('woff'),
        url('../fonts/OpenSans-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
} */

@font-face {
    font-family: 'Open Sans';
    font-display: fallback;
    src: url('../fonts/OpenSans.eot');
    src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans.woff') format('woff'),
        url('../fonts/OpenSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    font-display: fallback;
    src: url('../fonts/OpenSans-Bold.eot');
    src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Bold.woff') format('woff'),
        url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lusitana';
    font-display: fallback;
    src: url('../fonts/Lusitana-Bold.eot');
    src: url('../fonts/Lusitana-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lusitana-Bold.woff') format('woff'),
        url('../fonts/Lusitana-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lusitana';
    font-display: fallback;
    src: url('../fonts/Lusitana.eot');
    src: url('../fonts/Lusitana.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lusitana.woff') format('woff'),
        url('../fonts/Lusitana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
