/*--------------------------------------------
Theme Variables
---------------------------------------------*/


/*--------------------------------------------
Colors
---------------------------------------------*/

$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

$black:             #4F6061;
$white:             #fff;
$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$meta-gray:         #9fa6b4;
$tan:               #eceee5;
$green:             #7dd667;
$bones-pink:        #f01d4f;
$blue:              #2980b9;
$border-color:      #ccc;
$disabled-gray:     #cfcfcf;


//Theme Colors
$cordisco-blue:     #295985;
$cordisco-yellow:   #ebcd6c;
$cordisco-red:      #800000;
$cordisco-gray:     #464748;
$cordisco-button:   #c60144;
$cordisco-button-hover:  #3b80bf;

//Text Colors

$text-color:        #333;
$alt-text-color: 	#888;

//Link Colors

$link-color:        #3c72c3;
$link-hover:        darken($link-color, 9%);

//Secondary Link Color Used For Search Links

$secondary-link-color: #336D99;
$secondary-link-color-hover: darken($secondary-link-color, 9%);

//Main Page Section Colors

$header-background: #fff;
$footer-background: $cordisco-blue;
$body-background: 	#fff;

//Footer Phone Colors
$footer-phone-main-bg: $link-color;
$footer-phone-hover-bg: $link-hover;

//Desktop Nav Color Variables

$navbarBackgroundColor: 				$cordisco-blue;

$topLevelLinkColor:	 					#fff;
$topLevelBackgroundColor: 				$navbarBackgroundColor;
$topLevelLinkHoverColor:				$cordisco-yellow;
$topLevelBackgroundHoverColor: 			$cordisco-blue;

$secondLevelLinkColor:	 				$cordisco-blue;
$secondLevelBackgroundColor:			#fff;
$secondLevelLinkHoverColor:				$cordisco-blue;
$secondLevelBackgroundHoverColor: 		darken(#fff, 15%);

//To enable independent current item styles set the following variables to unique values
$topLevelCurrentMenuItemLinkColor: 				$topLevelLinkColor;
$topLevelCurrentMenuItemBackgroundColor:          lighten($topLevelBackgroundColor,3%);; //$desktopTopLevelBackgroundColor;
$topLevelCurrentMenuItemLinkHoverColor: 			$topLevelLinkHoverColor;
$topLevelCurrentMenuItemBackgroundHoverColor:    $topLevelBackgroundHoverColor;

//These Styles also apply to the search box if it is used
$mobileNavBoxLinkColor: 				white;
$mobileNavBoxLinkHoverColor:   			$mobileNavBoxLinkColor;
$mobileNavBoxBackgroundColor: 			$cordisco-blue;
$mobileNavBoxBackgroundHoverColor:  	darken($cordisco-blue, 15%);


//Slide Out Nav Color Variables

$slideNavHeaderBackgroundColor: 			#2d2d2d;
$slidNavHeaderTextColor:					$white;

$slidebarBackgroundColor:					#333;

$slideNavtopLevelLinkColor: 				$white;
$slideNavtopLevelLinkHoverColor: 			$white;
$slideNavtopLevelBackgroundColor:			#444;
$slideNavtopLevelBackgroundHoverColor: 		#666;

$slideNavsecondLevelLinkColor: 				$white;
$slideNavsecondLevelLinkHoverColor: 		$white;
$slideNavsecondLevelBackgroundColor: 		#555;
$slideNavsecondLevelBackgroundHoverColor: 	#666;

$slideNavLinkBottomBorder: 					#5a5a5a;
