.rs-mobile-header {
  display: none;
}
.call-us-icon {
  display: none;
}

.practice-areas__jump-to-links li {
	white-space: nowrap;
}

@media screen and (max-width: 767px){

  body {
      padding-top: 115px;
  }

  .call-us-icon {
        display: block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99999;
    font-size: 40px;
    background: #cc3434;
    color: #fff;
    text-decoration: none;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 50%;
    box-shadow: 0 0 13px #999;
        border: 1px solid #fff;
  }
  .call-us-icon:hover {
    color: #fff;
  }



  .rs-mobile-header {
    display: block;
  }
  .header.sb-slide.mobile-header {
      display: none;
  }
  .page-template-page-homepage-php #container {
      padding-top: 150px;
  }

    .rs-mobile-header {
        padding: 20px;
        text-align: center;
        position: fixed;
        top: 0px;
        left: 0;
        width: 100%;
        z-index: 999999;
        background: #fff;
    }
    .rs-mobile-header.rs-mobile-header-fixed {
      transform: translateY(-80px);
    }
    .rs-mobile-header img {
        max-width: 90%;
        display: inline-block;
        margin-bottom: 10px;
        max-height: 60px;
    }
    .rs-mobile-header .rs-icon-btn {
        border: 1px solid;
        padding: 9px 15px;
        font-size: 18px;
    }
    .rs-mobile-header .rs-mobile-header-buttons {
        display: flex;
        width: 90%;
        margin: 0 auto;
        justify-content: space-between;
    }


    .rs-mobile-header .rs-click-to-call-btn {
        background: #cc3434;
        color: #fff;
        padding: 15px;
        font-weight: 600;
        font-size: 16px;
        text-decoration: none;
        line-height: 1;
        text-transform: uppercase;
    }

    #rs-mobile-nav {
        display: block;
        position: fixed;
        left: 0;
        width: 100%;
        top: 160px;
        max-height: calc(100vh - 160px);
        background: #fff;
        z-index: 9999999;
        height: auto;
        overflow-y: scroll;
        overflow-x: hidden;
        box-shadow: 0 3px 5px #999;
        display: none;

    }
    #rs-mobile-nav.rs-mobile-nav-scrolling {
      top: 85px;
      max-height: calc(100vh - 85px);
    }
    #rs-mobile-nav .nav.top-nav {
      display: block;
    }
    #rs-mobile-nav .nav.top-nav li a {
      color: #000;
    }

    #rs-mobile-nav .nav.top-nav li {
      border-top: 1px solid #999;
    }

    #rs-mobile-nav ul.sub-menu {
      display: none;
    }
    .menu-item-has-children {
      position: relative;

    }
    .menu-item-has-children:after {
      content: "";
      position: absolute;
      right: 15px;
      top: 18px;
      bottom: 0;
      pointer-events: none;
      border-top: 8px solid #999;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      height: 0;
    }

    .footer-phone-circle.visible {
      background: #cc3434!important;
      color: #fff!important;
      font-size: 30px;
      bottom: 70px;
      justify-content: center;
      align-items: center;
      display: flex;
    }
}



/* MOBILE FORM */

#fixed-review-info {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999999;
  background: rgba(0,0,0,.75);
  color: #fff;
  width: 100%;
  height: 100%;
  transition: all .4s;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}
#fixed-review-info.fixed-review-info-expanded{
  pointer-events: all;
  opacity: 1!important;
}

.mob {
  display: none;

}

#fixed-review-info .AccidentType {
  display: none;

}
#fixed-review-info .your-telephone + br + label {
  display: none;

}

#fixed-review-info .standard-form .wpcf7-response-output.wpcf7-display-none.wpcf7-mail-sent-ok {
    display: block !important;
}


@media screen and (max-width: 767px) {


  @import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900');
  .fixed-form-wrapper {

    font-family: Montserrat, sans-serif;
    border: 3px solid rgba(255,255,255,1);
    position: relative;
    background: #000;
  }
  .fixed-form-wrapper > *:not(.close) {
    position: relative;
    z-index: 2;
  }
  .fixed-form-wrapper:after {
    content: '';
    /*background: url(assets/images/fixed-review-bg.png) center center / cover no-repeat;*/
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }

  .fixed-form-wrapper .fixed-review-sub {
        font-size: 22px;
      font-weight: 600;
      text-align: center;
      color: #fff;
      margin: 20px 0;
      line-height: 1.5;
  }
  .fixed-form-wrapper .fixed-review-sub span {
    font-size: 28px;
  }


  .fixed-review-heading {
    font-size: 53px;
    font-weight: 800;
    text-align: center;
    max-width: 1070px;
    text-transform: uppercase;
        padding: 60px 40px 0;
        color: #fff;
  }
  .fixed-review-content {
    padding: 20px 40px 40px;
    display: block;
    align-items: center;
    justify-content: space-between;
    max-width: 1060px;
  }
  .fixed-review-content form {
    padding: 0 20px;
    text-align: center;

  }
  .fixed-review-content form .form-group {
      max-width: 570px;
      width: 100%;
      display: block;
      margin: 4px 5px;

  }
  .fixed-review-content form .form-group.Comment {
    margin: 10px auto;
  }
  .fixed-review-content form .form-group:not(.Comment) {
      width: 100%;
      display: inline-block;

    }

  .fixed-review-content p {
    width: 340px;
    font-size: 33px!important;
    font-weight: 800!important;
    padding-right: 30px;
    line-height: 1.5!important;
    margin: 0!important;
  }
  .fixed-review-btn {
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
    font-size: 30px;
    font-weight: 800;

    background: #cc3434;
    text-align: center;
  }
  .fixed-review-btn:hover {
    background: #043f5f;
  }
  #fixed-review-info.fixed-review-info-expanded {
    transform: none;
  }


  .fixed-review-popup-content .text-center {
    text-align: center;

  }
  .form-group span.comment {
    padding: 0;
    margin-left: 0;
  }

  .fixed-review-popup-content .form-group input,.fixed-review-popup-content .form-group textarea {
      background: #f8f6f8;
      border: 3px solid #ada8ab;
      border-radius: 4px;
      font-size: 16px;
      font-size: 1rem;
      color: #000;
  }
  .form-group {
    position: relative;

  }
  div.wpcf7 .ajax-loader {
    display: block;
  }



  .form-group {
      position: relative
  }

  .form-group .icon {
      content: "";
      left: 0;
      top: 0;
      position: absolute;
      width: 30px;
      height: 100%
  }


  .form-group input:focus,.form-group input:hover,.form-group textarea:focus,.form-group textarea:hover {
      outline: 2px solid orange
  }

  .form-group input:focus+.icon,.form-group input:hover+.icon,.form-group textarea:focus+.icon,.form-group textarea:hover+.icon {
      -webkit-filter: saturate(0) brightness(70%) contrast(200%);
      filter: saturate(0) brightness(70%) contrast(200%)
  }



  .fixed-review-popup-content .form-group.Name .icon {
      -webkit-filter: none!important;
      filter: none!important;
      background: url(assets/images/name-icon.png) center top 10px no-repeat
  }

  .fixed-review-popup-content .form-group.Email .icon {
      -webkit-filter: none!important;
      filter: none!important;
      background: url(assets/images/mail-icon.png) center top 10px no-repeat
  }

  .fixed-review-popup-content .form-group.Phone .icon {
      -webkit-filter: none!important;
      filter: none!important;
      background: url(assets/images/phone-icon.png) center top 11px no-repeat
  }

  .fixed-review-popup-content .form-group.Comment .icon {
      -webkit-filter: none!important;
      filter: none!important;
      background: url(assets/images/comment-icon.png) center top 12px no-repeat
  }

  .fixed-review-popup-content input,.fixed-review-popup-content textarea {
      display: block;
      width: 100%;
      box-sizing: border-box;
      border: none;
      border-radius: 3px;
      margin-bottom: 10px;
      padding-left: 30px;
      padding-right: 10px;

      font-size: 16px!important;
  }

  .fixed-review-popup-content textarea {
    max-height: 120px;
  }

  .fixed-review-popup-content input {
      height: 45px;
      font-family: Montserrat, sans-serif;
  }

  .fixed-review-popup-content textarea {
      padding-top: 15px;
      font-family: Montserrat, sans-serif;
  }

  .form-group .icon {
      top: 3px;
      left: 3px;
  }

  .form-group.Comment .icon {
      top: 7px;
      left: 4px;
  }


  .close, .close:hover {
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 20px;
      margin-right: 20px;
      color: #fff;
      z-index: 2;
      font-size: 30px;
      opacity: 1;
      cursor: pointer;
  }
  #fixed-review-info .close {
      color: #fff;
      opacity: 1;
      text-decoration: none;
      font-size: 30px;
      right: 5px;
      top: 5px;
      z-index: 3;
      font-weight: 700;
  }

  .form-group input:focus, .form-group input:hover, .form-group textarea:focus, .form-group textarea:hover {
    border: 3px solid orange;
    outline: none;
  }




  .form-group.form-group-success:after {
    content: '✓';
    color: green;
    position: absolute;
    font-size: 18px;
        right: 10px;
      top: 0;
      bottom: 0;
      height: 100%;

      margin-top: 14px;
  }
  .form-group.form-group-success input,
  .form-group.form-group-success textarea {
    border: 3px solid green!important;
  }




  .fixed-review-btn:hover {
    border-color: #043f5f;
  }

  .fixed-review-btn {
        max-width: 305px;
        margin: -10px auto 40px;
        width: 100%;
        max-width: 570px;
        border-radius: 4px;
        border: 1px solid #cc3434;
        font-size: 24px;
    }
    .fixed-review-btn:after {
        content: '';
        position: absolute;
        width: calc(100% - 4px);
        height: calc(100% - 4px);
        border: 1px solid #fff;
        left: 2px;
        top: 2px;
        border-radius: 4px;
    }

  #fixed-review-info .close {
    top: 0;
    right: 0;
    margin: 5px 8px;
  }

  .fixed-form-wrapper .fixed-review-sub {
    margin: 10px 0;
  }


  .fixed-review-heading {
        font-size: 1.9rem;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: -8px;
  }
  .fixed-form-wrapper .fixed-review-sub span {
    font-size: 1.3rem;
    display: inline-block;
    margin-bottom: 5px;
  }
  .fixed-form-wrapper .fixed-review-sub {

    font-size: 1.2rem;
  }
  .fixed-review-content {
    padding: 10px;
  }
  .fixed-review-popup-content input {
    height: 40px;
  }
  .fixed-review-content form .form-group {
    margin: 0;
  }
  .fixed-review-content form .form-group.Comment {
    margin: 0 auto;
  }
  .fixed-review-btn {
    font-size: 14px;
  }
  .fixed-form-wrapper {
    margin: 1px;
  }

  .fixed-review-btn {
      max-width: 350px;
      margin: -10px auto 40px;
      width: calc(100% - 20px);
      border-radius: 4px;
      border: 1px solid #cc3434;
  }
  .fixed-review-btn:after {
      content: '';
      position: absolute;
      width: calc(100% - 4px);
      height: calc(100% - 4px);
      border: 1px solid #fff;
      left: 2px;
      top: 2px;
      border-radius: 4px;
  }


  .fixed-review-content.fixed-review-popup-content + p {
    position: relative;

  }
  .fixed-review-content.fixed-review-popup-content + p:after {
    content: '';
    position: absolute;
    width: calc(100% - 4px);
    height: 47px;
    border: 1px solid #fff;
    left: 2px;
    top: 2px;
    border-radius: 4px;
    width: 343px;
    right: 2px;
    margin: auto;
    pointer-events: none;
  }
  .fixed-review-content .form-group.form-group-success input {
    border-color: green!important;
  }
  .fixed-review-content .form-group.form-group-success:after {
    content: '✔';
    position: absolute;
    right: 10px;
    top: -5px;
    color: green;
  }



}

@media screen and (max-width: 479px){

  .rs-mobile-header .rs-click-to-call-btn {
    font-size: 14px;
  }

}