/**********************************************************************************
Working CSS File
Styles should be added here when SCSS is unavailable and then added to the main SCSS
structure as soon as possible.
***********************************************************************************/

.blog hr, .archive hr, .category hr {
	clear: both;
}

.page-featured-image img.attachment-bones-thumb-page {
    margin: 0 30px 0px 0;
}