/******************************************************************
Base Theme Styles
******************************************************************/

/*--------------------------------------------
Border Box
---------------------------------------------*/

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*--------------------------------------------
Responsive Typography
---------------------------------------------*/


// These values are the minimum and maximum viewport sizes to apply the font scaling
$min_width: 400;
$max_width: 960;
// These values represent the range of fon-tsize to apply
// These values effect the base font-size, headings and other elements will scale proportionally
$min_font: 14;
$max_font: 16;

:root { font-size: #{$min_font}px; }
// This part is a little bit ugly, I will explain what is going on in a blog post soon.
@media (min-width: #{$min_width}px) and (max-width: #{$max_width}px){
  :root {
    font-size: calc( #{$min_font}px + (#{$max_font} - #{$min_font}) * ( (100vw - #{$min_width}px) / ( #{$max_width} - #{$min_width}) ));
  }
}
@media (min-width: #{$max_width}px){
   :root {
     font-size: #{$max_font}px;
   }
}

/*--------------------------------------------
Debugging // Validation Styles
---------------------------------------------*/

.duplicate{
    color: #f00 !important;
}


/*--------------------------------------------
Responsive iframe
---------------------------------------------*/
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

/*--------------------------------------------
General Styles
---------------------------------------------*/

$headerheight:  50px;

body {
    font-family: $sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    background: $body-background;
    overflow: visible;

}


#container {
    padding-top: 10px;
}

#sb-site {
    background:  $body-background;
}


@media screen and (max-width: 767px) {
    #return-to-top {
        display: none !important;
    }
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
/*--------------------------------------------
Header Styles
---------------------------------------------*/

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
    text-rendering: optimizelegibility;
    font-family: $sans-serif;
    font-weight: 600;
    line-height: 1.1;
    margin: 20px 0;
    display: block;


    /* removing text decoration from all headline links */
    a {
        text-decoration: none;
    }

    strong{
        font-weight: normal;
    }
}

h1, .h1 {
    font-size: 2.1em;
}

h2, .h2 {
    font-size: 1.75em;
}

h3, .h3 {
    font-size: 1.325em;
}

h4, .h4 {
    font-size: 1.1em;
}

h5, .h5 {
    font-size: 0.846em;
}

/*--------------------------------------------
Link Styles
---------------------------------------------*/

a {
    color: $link-color;

    &:hover {
        color: $link-hover;
    }

    &:active {}

    /* mobile tap color */
    &:link {
        -webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
    }
}

/*--------------------------------------------
Other Text Element Styles
---------------------------------------------*/

sup, sub {
   vertical-align: baseline;
   position: relative;
   top: -0.4em;
}

sub { top: 0.4em; }

em, i { font-style: italic; }

strong, b { font-weight: bold; }

p, ul, ol {margin: 0 0 1.5em 0;}

/*--------------------------------------------
Post Meta Styles
---------------------------------------------*/

.post-meta {
    margin-top: 12px;
}

.article-header.list-header{
    padding-bottom: 11px;
}


/*--------------------------------------------
Content Container Styles
---------------------------------------------*/

#inner-content {
    background: $white;
}

.content-container {
    background-color: transparent;
    margin-bottom: 1.5em;

    header {
        padding: 0 0 1em 0;
    }

    footer {
        padding: 0;

        p {
            margin: 0;
        }
    }
}

/*--------------------------------------------
Generic Interior Content Styles
---------------------------------------------*/

.page-featured-image {
    text-align: left;
    float: left;
    padding-top: 6px;

    img.attachment-bones-thumb-page {
        margin-bottom: 0;
    }
}

.single-title, .page-title, .entry-title {
    margin: 0;
}

.single-title {
    margin-bottom: 10px;
}

.page-title {}

.entry-title {}

.archive-title {
    margin: 0 0 1em 0;
}

.search-title{
    margin-bottom: 0;
    margin-top: 15px;
}

.search-results {
    article {
        border-top: 1px solid #eee;

        &:nth-of-type(1) {
            border-top: none;
        }
        .article-header {
            margin-top: 15px;
            padding-bottom: 0;
        }
        p {
            font-size: 13px;
            margin-bottom: 15px;
        }
        .search-link {
            display: inline-block;
            font-size: 13px;
            padding: 3px 0;
            color: $secondary-link-color;

            &:hover {
                color:  $secondary-link-color-hover;
            }
        }
    }
}



#post-not-found {
    header {
        padding-bottom: 0;
    }
    .h3 {
        margin: 20px 0;
    }
}

/* post meta */
.byline {
    color: $meta-gray;
    font-style: italic;
    margin: 0;

    time {}
}

/* entry content */
.entry-content {
    padding: 0;

    h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
        color: $cordisco-red;
    }

    p {
        margin: 0 0 1.5em;
    }


    ul, ol, table, dl {}

    ul, ol {

        li {}

    }

    ul {

        li {
            list-style-type: disc;
            list-style-position: outside;
            margin-left: 1.5em;
        }

        ul{
            margin-bottom: 0;
        }

    }

    ol {

        li {
            list-style-type: decimal;
            list-style-position: outside;
            margin-left: 1.5em;
        }

        ol{
            margin-bottom: 0;
        }

    }

    table {
        width: 100%;
        border: 1px solid $gray;
        margin-bottom: 1.5em;

        caption {
            margin: 0 0 7px;
            font-size: 0.75em;
            color: $meta-gray;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }

    tr {
        border-bottom: 1px solid $gray;

        &:nth-child(even) {
            background-color: $light-gray;
        }
    }

    td {
        padding: 7px;
        border-right: 1px solid $gray;

        &:last-child {
            border-right: 0;
        }
    }

    th {
        background-color: $light-gray;
        border-bottom: 1px solid $gray;
        border-right: 1px solid $gray;

        &:last-child {
            border-right: 0;
        }
    }

    blockquote {
        margin: 0 0 1.5em 0.75em;
        padding: 0 0 0 0.75em;
        border-left: 3px solid $link-color;
        font-style: italic;
        color: $alt-text-color;

        &:before {}

    }

    dl {}

    dt {}

    dd {
        margin-left: 0;
        font-size: 0.9em;
        color: #787878;
        margin-bottom: 1.5em;
    }

    img {
        margin: 0 0 1.5em 0;
        max-width: 100%;
        height: auto;
    }

    .alignleft, img.alignleft {
        float: left;
        margin-right: 15px;
    }
    .alignright, img.alignright {
        float: right;
        margin-left: 15px;
    }
    .aligncenter, img.aligncenter {
        margin: 10px auto;
        display: block;
    }

    img.align-right, img.alignleft {
        margin-top: 4px;
        display: block;
    }

    .size-auto,
    .size-full,
    .size-large,
    .size-medium,
    .size-thumbnail {
        max-width: 100%;
        height: auto;
    }

    pre {
        background: $black;
        color: $light-gray;
        font-size: 0.9em;
        padding: 1.5em;
        margin: 0 0 1.5em;
        border-radius: 3px;
    }

} /* end .entry-content */

.wp-caption {
    max-width: 100%;
    background: #eee;
    padding: 5px;

    /* images inside wp-caption */
    img {
        max-width: 100%;
        margin-bottom: 0;
        width: 100%;
    }

    p.wp-caption-text {
        font-size: 0.85em;
        margin: 4px 0 7px;
        text-align: center;
    }

} /* end .wp-caption */


// the tag output
.tags {
    margin: 0;
}

/*--------------------------------------------
Page Navigation Styles
---------------------------------------------*/

.pagination, .wp-prev-next {
    margin: 1.5em 0;
}
.pagination{
text-align: center;

ul {
  display: inline-block;
  background-color: $white;
  white-space: nowrap;
  padding: 0;
  clear: both;
  border-radius: 3px;
}

li {
  padding: 0;
  margin: 0 !important;
  float: left;
  display: inline;
  overflow: hidden;
  border-right: 1px solid $gray;

  &:nth-last-of-type(1) {
    border-right: 0;
  }
}

span {
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  padding: 0.75em;
  min-width: 1em;
  display: block;
  color: $blue;
}

a{
  margin: 0;
  text-decoration: none;
  padding: 0;
  line-height: 1em;
  font-size: 1em;
  font-weight: normal;
  padding: 0.75em;
  min-width: 1em;
  display: block;
  color: $blue;

  &:hover, &:focus {
    background-color: $blue;
    color: $white;
  }
}

.current{
    cursor: default;
    color: $text-color;

    &:hover, &:focus {
        background-color: $white;
        color: $text-color;
    }
}

} /* end .bones_page_navi */

/* fallback previous & next links */
.wp-prev-next {

    ul {}

    .prev-link {
        float: left;
    }

    .next-link {
        float: right;
    }

} /* end .wp-prev-next */


/*--------------------------------------------
Comments
---------------------------------------------*/

/* h3 comment title */
#comments-title {
    padding: 0.75em;
    margin: 0;
    border-top: 1px solid $light-gray;

    /* number of comments span */
    span {}

}

.comment-nav {
    ul {
        li {}
    }
}

.commentlist {
    margin: 0;
    list-style-type: none;
}

.comment {
    position: relative;
    clear: both;
    overflow: hidden;
    padding: 1.5em;
    border-bottom: 1px solid $light-gray;

    .comment-author {
        padding: 7px;
        border: 0;
    }

    /* vcard */
    .vcard {
        margin-left: 50px;

        cite.fn {
            font-weight: 700;
            font-style: normal;

            a.url {}

        }

        time {
            display: block;
            font-size: 0.9em;
            font-style: italic;

            a {
                color: $meta-gray;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }

            }

        }

        .photo {}

        .avatar {
            position: absolute;
            left: 16px;
            border-radius: 50%;
        }

    } /* end .commentlist .vcard */

    &:last-child {
        margin-bottom: 0;
    }

    .children {
        margin: 0;

        li {}

            /* variations */
            .comment {}
            .alt {}
            .odd {}
            .even {}
            .depth-1 {}           /* change number for different depth */
            .byuser {}
            .bypostauthor {}
            .comment-author-admin {}

    } /* end children */


    &[class*=depth-] {
        margin-top: 1.1em;
    }

    &.depth-1 {
        margin-left: 0;
        margin-top: 0;
    }

    &:not(.depth-1) {
        margin-top: 0;
        margin-left: 7px;
        padding: 7px;
    }

    &.depth-2 {}
    &.depth-3 {}
    &.depth-4 {}
    &.depth-5 {}

    /* general comment classes */
    &.alt {}
    &.odd {
        background-color: $white;
    }
    &.even {
        background: $light-gray;
    }
    &.parent {}
    &.comment {}
    &.children {}
    &.pingback {}
    &.bypostauthor {}
    &.comment-author {}
    &.comment-author-admin {}
    &.thread-alt {}
    &.thread-odd {}
    &.thread-even {}
} /* end .comment */

.comment-meta {
    a {}
}

.commentmetadata{
    a {}
}

.comment_content {
    p {
        margin: 0.7335em 0 1.5em;
        font-size: 1em;
        line-height: 1.5em;
    }
}
.comment-reply-link {
    font-size: 0.9em;
    float: right;

    &:hover, &:focus {}
}

.comment-edit-link {
    font-style: italic;
    margin: 0 7px;
    text-decoration: none;
    font-size: 0.9em;
}


/*--------------------------------------------
Comment Form Styles
---------------------------------------------*/

.comment-respond {
    @include clearfix;
    padding: 1.5em;
    border-top: 1px solid $light-gray;
}

#reply-title {
    margin: 0;
}

.logged-in-as {
    color: $meta-gray;
    font-style: italic;
    margin: 0;

    a {
        color: $text-color;
    }
}

.comment-form-comment {
    margin: 1.5em 0 0.75em;
}

.form-allowed-tags {
    padding: 1.5em;
    background-color: $light-gray;
    font-size: 0.9em;
}

/* comment submit button */
#submit {
    float: right;
    font-size: 1em;
}

/* comment form title */
#comment-form-title {
    margin: 0 0 1.1em;
}

/* cancel comment reply link */
#cancel-comment-reply {
    a {}
}

/* logged in comments */
.comments-logged-in-as {}

/* allowed tags */
#allowed_tags {
    margin: 1.5em 10px 0.7335em 0;
}

/* no comments */
.nocomments {
    margin: 0 20px 1.1em;
}


/*--------------------------------------------
Fancylist Styles
---------------------------------------------*/

.fancy-list {
    list-style-type: none;
}
.fancy-list li {
    margin-left: 24px;
    position: relative;
}

.fancy-list.big-space li {
    margin-top: 10px;
}

.fancy-list  li:before {
    font-family: 'fontawesome';
    content: '\f105';
    position: absolute;
    top: 0px;
    left: -12px;
}

/*--------------------------------------------
Two Column Styles
---------------------------------------------*/

.two-column-list {
    &:nth-of-type(odd) {
        margin-bottom: 0;
    }
    &:nth-of-type(even) {
        margin-top: 0;
    }
}

/******************************************************************
Begin Large Mobile Phone Adjustments
******************************************************************/

@media screen and (min-width: 481px){

    .entry-content {
        /* at this larger size, we can start to align images */
        .alignleft, img.alignleft {
            margin-right: 1.5em;
            display: inline;
            float: left;
        }
        .alignright, img.alignright {
            margin-left: 1.5em;
            display: inline;
            float: right;
        }
        .aligncenter, img.aligncenter {
            margin-right: auto;
            margin-left: auto;
            display: block;
            clear: both;
        }

    } /* end .entry-content */

}


/******************************************************************
Begin Tablet/Desktop Adjustments
******************************************************************/

@media screen and (min-width: 768px){

    .mobile-header {
        display: none;
    }

    /*--------------------------------------------
    Post and Content Styles
    ---------------------------------------------*/

    #container {
        padding-top: 1.5em;
    }


    /*--------------------------------------------
    Two Column List Styles
    ---------------------------------------------*/

    .two-column-list {

        @include span(6);

        &:nth-of-type(odd) {
            margin-bottom: 1em;
        }
        &:nth-of-type(even) {
            margin-top: 0em;
        }
    }

} //End Media Query



/*--------------------------------------------
Responsive iFrame Styles
---------------------------------------------*/

.iframe-wrapper {
  position: relative;
  height: 0;
  overflow: hidden;
}

/* 16x9 Aspect Ratio */
.iframe-wrapper-16x9 {
  padding-bottom: 56.25%;
}

/* 4x3 Aspect Ratio */
.iframe-wrapper-4x3 {
  padding-bottom: 75%;
}

.iframe-wrapper iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}