/******************************************************************
Theme Footer Styles
******************************************************************/


.footer {
    clear: both;
    background-color: $footer-background;
    color: $light-gray;
    position: relative;
    z-index: 30;
    border-top: 5px solid $cordisco-yellow;
}

#inner-footer {
    padding: 15px 10px;
    text-align: center;

    .footer-icons {
        a{
            text-decoration: none;
            margin-right: 15px;

            &:nth-last-of-type(1) {
                margin-right: 0;
            }

            &:hover {
                text-decoration: none;
            }
        }
    }

    a {
        color: #fff;
        &:hover {
            color: #c6ced6;
        }
    }

    @media screen and (min-width: 767px){
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.copyright {}

.inner-footer-bottom{
    background: darken($cordisco-blue, 20%);
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 14px;
    border-top: 5px solid $cordisco-yellow;

    a{
        color: #fff;
        text-decoration: underline;

        &:hover{
            color: #fff;
            text-decoration: underline;
        }
    }

    p{
        margin-bottom: 0;
    }
}



/*--------------------------------------------
Mobile Footer Popup Box
---------------------------------------------*/


.mobile-contact-box{
    display: none;
    opacity: 0;
    position: fixed;
    bottom: -87px;
    left: 0;
    right: 0;
    background: #333;
    background: rgba(0,0,0,0.7);
    height: 87px;
    text-align: center;
    font-size: 16px;
    z-index: 50;
    color: white;
    padding-top: 10px;
    //transition: all 0.5s;

    &.visible{
        display: block;
        opacity: 1;
        bottom: 0;
    }

    &.closed{
        display: none !important;
    }


    @media screen and (min-width: 768px){
        display: none !important;
    }
}
.mobile-contact-button{
    display: block;
    background: $footer-phone-main-bg;
    padding: 3px 7px;
    font-size: 18px;
    width: 80%;
    max-width: 180px;
    color: white;
    text-decoration: none;
    margin: 4px auto 0 auto;
    transition: all 0.2s;
}

.mobile-contact-button:hover{
    background: $footer-phone-hover-bg;
    color: #000;
    text-decoration: none;
}


.mobile-contact-close{
    height: 30px;
    width: 30px;
    position: absolute;
    top: 2px;
    right: 10px;
    color: white;
    font-size: 25px;
    cursor: pointer;

}


//Phone Icon Styles

.footer-phone-circle{
    display: none;

    @media screen and (max-width: 767px){
       &.visible{
            display: block;
            position: fixed;
            bottom: 110px;
            right: 10px;
            z-index: 1000;
            height: 65px;
            background: $footer-phone-main-bg;
            width: 65px;
            text-decoration: none !important;
            border-radius: 50px;
            text-align: center;
            font-size: 45px;
            color: white;
            box-shadow: 0px 0px 6px rgba(0,0,0,0.7);
            border: 1px solid white;

            &:hover{
                color: $cordisco-yellow;
                background: $footer-phone-hover-bg;
            }

            i{
                position: relative;
                top: -1px;
            }
       }
    }
}


/*--------------------------------------------
Footer Widget Styles
---------------------------------------------*/

.footer-widgets{

    &__inner{
        @media screen and (max-width: 767px){
            text-align: center;
        }

        @media screen and (min-width: 768px){
            display: flex;
        }
    }

} //End .footer-widgets


.footer-widget{

    width: 100%;
    max-width: 380px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid lighten($cordisco-blue, 15%);
    margin-top: 12px;

    &:nth-last-of-type(1){
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    @media screen and (max-width:767px){
        display: inline-block;
        vertical-align: top;
    }

    @media screen and (min-width: 768px){
        padding-bottom: 0;
        margin-bottom: 0;
        margin-top: 0;
        border-bottom: 0;
        width: auto;
        max-width: none;
        text-align: left;
        float: left;

        &:nth-of-type(1){
            width: calc(100% - 30% - 230px);
            padding-right: 3rem;
        }

        &:nth-of-type(2){
            width: 230px;
            padding-right: 3rem;
        }

        &:nth-of-type(3){
            width: 30%;
        }
    }

    //Sorry, odd breakpoint to prevent email address wrapping
    @media screen and (min-width: 768px) and (max-width: 900px){
        &:nth-of-type(2){
            width: 175px;
        }
        &:nth-of-type(1){
            width: calc(100% - 40% - 175px);
        }
        &:nth-of-type(3){
            width: 40%;
        }
    }

    //Content Styles

    .widgettitle{
        color: #fff;
    }

    ul{
        list-style-type: disc;
        list-style-position: outside;
        margin-left: 1.2em;

        @media screen and (max-width: 767px){
            list-style-type: none;
            margin-left: 0;
        }
    }

    p{
        margin-bottom: 10px;
    }

} //End .footer-widget


/*--------------------------------------------
Contact Widget Styles
- For icons/background adjustments
---------------------------------------------*/

//Contact Widget Flexslider Adjustments

.footer-contact-slider.flexslider{

    background: none !important;
    border-radius: 0 !important;
    border: none !important;
    margin-bottom: 32px !important;

} //End .flexslider

//Sorry Targeting via last instead of class

.footer-widget{

    &:nth-last-of-type(1){

        .widgettitle{
            @media screen and (min-width: 768px){
                padding-top: 10px;
            }
        }

        //Icon Styles
        .footer-icon{
            padding-left: 64px;
            position: relative;

            @media screen and  (max-width: 767px){
                padding-left: 0;
            }

            &:before{
                color: #fff;
                font-family: fontawesome;
                display: block;
                position: absolute;
                left: 10px;
                font-size: 1.6em;

                //Hide on mobile to prevent odd layout appearance
                @media screen and  (max-width: 767px){
                    display: none;
                }
            }
        }

        .location-title{
            font-weight: 600;
            font-size: 1.2em;
            margin-bottom: 10px;
            display: block;
        }

        .footer-icon-address{
            &:before{
                content: '\f278';
                font-size: 28px;
                top: 10px;
            }
        }

        .footer-icon-email{
            &:before{
                content: '\f003';
                font-size: 28px;
            }
        }

        .footer-icon-phone{
            &:before{
                content: '\f10b';
                font-size: 38px;
                left: 17px;
                top: -5px;
            }
        }

        //Background Color Only on Desktop

        @media screen and (min-width: 768px){
            margin-top: -25px;
            margin-bottom: -25px;
            height: auto;
            background: lighten($cordisco-blue, 15%);
            padding: 15px;
        }

    }
}


/*--------------------------------------------
Footer Contact Form Styles
---------------------------------------------*/

.footer-contact-form{
    background: #e8eaea;
    padding: 45px 10px;
    color: #01325f;
    border-bottom: 5px solid $cordisco-yellow;
    border-top: 5px solid $cordisco-blue;

    h2{
        text-align: center;
        font-weight: normal;
        margin-top: 0;
        line-height: 1.2;
        margin-bottom: 10px !important; //Sorry pressed for time...
    }

    h3{
        text-align: center;
        font-weight: 300;
        line-height: 1.3;
        margin-top: 0;
    }

    //Contact Form Styles
    form{

        @media screen and (max-width: 767px){
            max-width: 450px;
            margin: 0 auto;
        }

        //Input Styles
        input[type="text"], input[type="email"], input[type="tel"], textarea{
            color: $text-color;
            margin-bottom: 21px;
            border: 2px solid transparent;
            border-radius: 0;
            max-width: none;
            padding-left: 42px;
            position: relative;
        }

        textarea{
            height: 260px;
        }

        input[type="submit"]{
            display: inline-block;
            vertical-align: top;
            width: 100%;
            max-width: 330px;
            color: #fff;
            border-radius: 5px;
            text-decoration: none;
            outline: none;
            background: $cordisco-blue;
            text-align: center;
            font-family: $sans-serif;
            font-size: 1.2em;
            border: none;
            padding: 12px 20px;
            transition: all 0.2s;
            margin: 20px auto 0 auto;

            &:hover{
                background: #112537;
            }
        }

        a{
            color: #fff;
            text-decoration: underline;

            &:hover{
                text-decoration: underline;
                color: #e0e0e0;
            }
        }

        .submit{
            text-align: center;
        }

        //Input Icon Styles

        .wpcf7-form-control-wrap{
            position: relative;
            display: block;
            margin-bottom: 15px;

            &:before{
                position: absolute;
                left: 10px;
                font-size: 1.2em;
                color: $cordisco-blue;
                font-family: fontawesome;
                display: block;
                line-height: 1.9;
                z-index: 10;

                @media screen and (max-width: 600px){
                    line-height: 41px;
                }
            }
        }
        .your-name:before{
            content: '\f007';
        }
        .your-email:before{
            content: '\f0e0';
        }
        .your-telephone:before{
            content: '\f095';
            top: 0.2em;
        }
        .your-message:before{
            content: '\f0e6';
        }

        //Disclaimer Styles
        .wpcf7-list-item{
            margin-left: 3px;
            margin-right: 5px;
        }

        .wpcf7-list-item-label{
            font-style: italic;
            font-size: 0.9em;
        }

        //General Cleanup
        p{
            margin-bottom: 0;
        }

        br{
            display: none;
        }

        //Validation Styles
        .wpcf7-not-valid-tip, .wpcf7-validation-errors, .wpcf7-response-output{
            display: none !important;
        }

        .wpcf7-not-valid{
            border: 2px solid red !important;

            &.wpcf7-checkbox{
                padding: 3px;
            }
        }

         //Validation Styles

      .ajax-loader{
        position: relative;
        top: 1.7em;
        margin-left: 15px !important;
        background-image: none !important;
        line-height: 1;
        -webkit-animation: form-validation-spin 2s infinite linear;
        animation: form-validation-spin 2s infinite linear;
        margin-bottom: 0;

        &:before{
          font-family: fontawesome;
          color: darken($cordisco-blue, 15%);
          font-size: 1em;
          content: '\f110';
          line-height: 1;
          display: block;

        }

      }


    } // End contact form styles

} //End .footer-contact-form

//Footer Form Loading Animations

@-webkit-keyframes form-validation-spin{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes form-validation-spin{
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}


/*-------------------------------------
Footer Social Icons
--------------------------------------*/

.footer-social-icons{


    //Wrapper
    &__social-icons{
        display: inline-block;
        vertical-align: top;
        text-align: center;
        margin-top: 10px;
        font-size: 26px;
        color: #fff;
    }

    &__social-icon{

        display: inline-block;
        text-decoration: none;
        color: #fff;
        background: transparent;
        height: 30px;
        width: 30px;
        font-size: 26px;
        border-radius: 30px;
        text-align: center;
        margin-right: 10px;
        vertical-align: top;
        transition: all 0.2s;
        line-height: 30px;

        &:hover{
            text-decoration: none;
            color: #e0e0e0;
            background: transparent;
        }
    }

} //End .header-social-icons


/*-------------------------------------
Footer Disclaimer Styles
--------------------------------------*/

.footer-disclaimer {
    font-size: 0.8em;
    max-width: 600px;
    text-align: center;
    margin: 20px auto !important; //Sorry
    font-style: italic;

}
