/******************************************************************
Theme Header Styles
******************************************************************/

.header {
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    z-index: 20;
    height: auto;
    background: $header-background;
    position: relative;
}

#sb-site .header {
    display: none;
}

#inner-header.wrap {
    width: 100%;
}



#mobile-logo{
    margin: 0 auto;
    line-height: $headerheight;
    text-align: center;
    padding: 15px 5px 10px 5px;
    width: 100%;
    border-bottom: 1px solid #e0e0e0;

    a {
        color: #fff;
    }

    img {
        margin-top: 0;
        max-width: 280px;
        max-height: none;
    }
}

//Mobile Header Styles
.mobile-header-info{

    .header-call-to-action{
        font-weight: 600;
        font-size: 1.5em;
        padding-top: 10px;
        text-align: center;
        margin-bottom: 12px;

        span {
            display: block;
            font-size: 1.11em;
            text-transform: uppercase;
        }

        a{
            color: $cordisco-blue;
            text-decoration: none;
            font-size: 1.6em;
            display: inline-block;
            margin-top: 5px;
            padding-top: 5px;
            border-top: 1px solid #e0e0e0;
            line-height: 1;

            &:hover{
                color: $cordisco-blue;
                text-decoration: none;
            }
        }
    } //End .header-call-to-action

    .header-social-icons{
        text-align: center;
        margin-bottom: 15px;

        &__intro-text{
            font-size: 1.3em;
        }
    }


} //End .mobile-header-info

/******************************************************************
Begin Tablet/Desktop Styles
******************************************************************/

@media screen and (min-width: 768px){

    .admin-bar .header {
        top: 0px;
    }

    #sb-site .header {
        display: block;
    }

    .header {
        @include clearfix;
        width: 100%;
        position: relative;
        height: auto;
    }

    #inner-header {
        position: relative;
    }

    /*-------------------------------------
    Header Search Box Styles
    --------------------------------------*/

    .desktop-header-search {

    }


    /*-------------------------------------
    Desktop Header Styles & Alignment
    --------------------------------------*/

    .desktop-header{
        @include clearfix();

        &__left{
            width: 300px;
            text-align: left;
            float: left;
            padding-bottom: 20px;
            padding-top: 20px;

            img{
                display: inline-block;
                margin: 0;
                vertical-align: top;
            }
        }

        &__center {
            width: calc(100% - 650px);
            margin: 0 auto;
            padding-top: 14px;
            float: left;
            display: flex;
            justify-content: center;
        }


        &__right{
            float: right;
            text-align: right;
            width: 350px;
            padding-bottom: 15px;
            padding-top: 15px;
        }


    } //End .desktop-header

    .header-call-to-action{
        font-weight: 600;
        font-size: 1.2em;

        span {
            display: block;
            font-size: 1.21em;
            text-transform: uppercase;
            padding-right: 50px;
        }

        a{
            color: $cordisco-blue;
            text-decoration: none;
            font-size: 1.8em;
            display: inline-block;
            margin-top: 5px;
            padding-top: 5px;
            border-top: 1px solid #e0e0e0;
            line-height: 1;

            &:hover{
                color: $cordisco-blue;
                text-decoration: none;
            }
        }
    }

} //End Media Query


.desktop-header-searchbox {

    max-width: 280px;
    float: right;
    margin-left: 10px;
    margin-right: 0;

}

//Fnatic Callout Styles
.mobile-header-radio {
    width: 150px;
    margin: 20px auto 15px auto;
    text-align: center;
    position: relative;
    z-index: 1;
    text-decoration: none;
    display: block;
    color: #333;

    &:hover {
        text-decoration: none;
        color: #333;
    }

    &__title {
        text-align: center;
        display: block;
        margin-bottom: 0;
        font-weight: bold;
        color: #333;
        position: relative;
        z-index: 6;
        font-size: 18px;
    }

    &__image {
        max-width: 120px;
        display: inline-block;
        vertical-align: top;
        margin-top: -10px;
        height: auto;
        width: 100%;
        position: relative;
        z-index: 3;
    }

} //End .desktop-header-radio

//Fnatic Callout Styles
.desktop-header-radio {
    width: 150px;
    float: left;
    margin-right: 10px;
    margin-left: 0;
    text-align: center;
    position: relative;
    z-index: 1;
    text-decoration: none;
    display: block;
    color: #333;

    &:hover {
        text-decoration: none;
        color: #333;
    }

    @media screen and (min-width: 768px) and (max-width: 1060px) {
        display: none;
    }

    @media screen and (min-width: 1400px) {
        margin-left: 30px;
    }

    &__title {
        text-align: center;
        display: block;
        margin-bottom: 0;
        font-weight: bold;
        color: #333;
        position: relative;
        z-index: 6;
    }

    &__image {
        max-width: 120px;
        display: inline-block;
        vertical-align: top;
        margin-top: -17px;
        height: auto;
        width: 100%;
        position: relative;
        z-index: 3;
    }

} //End .desktop-header-radio


/*-------------------------------------
Header Social Icons
(Used on both desktop and mobile)
--------------------------------------*/

.header-social-icons{

    &__intro-text{

        font-style: italic;
        display: inline-block;
        vertical-align: top;
        line-height: 30px;
        margin-top: 10px;
        font-size: 21px;
        text-align: center;

        a{
            color: $text-color;
            text-decoration: none;

            &:hover{
                color: $text-color;
                text-decoration: none;
            }
        }

        @media screen and (min-width: 768px){
            text-align: right;
        }
    }

    //Wrapper
    &__social-icons{
        display: inline-block;
        vertical-align: top;
        text-align: right;
        margin-top: 10px;
        font-size: 20px;
        color: $cordisco-blue;
    }

    &__social-icon{

        display: inline-block;
        text-decoration: none;
        color: #fff;
        height: 30px;
        width: 30px;
        font-size: 16px;
        border-radius: 30px;
        text-align: center;
        margin-right: 10px;
        vertical-align: top;
        line-height: 30px;

        &:hover{
            text-decoration: none;
            color: #fff;
        }

        //Individual Styles
        &--facebook{
            background: #3b5999;
            &:hover{
                background: darken(#3b5999, 15%);
            }
        }

        &--google-plus{
            background: #dd4b39;
            &:hover{
                background: darken(#dd4b39, 15%);
            }
        }

        &--twitter{
            background: #55acee;
            &:hover{
                background: darken(#55acee, 15%);
            }
        }

        &--linkedin{
            background: #0077B5;
            &:hover{
                background: darken(#0077B5, 15%);
            }
        }



    }

} //End .header-social-icons



//Scrolled Nav Styles
.desktop-scrolled-header{
    display: block;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1000;
    transition: opacity 0.3s;
    border-bottom: none !important;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
    padding: 10px 0;
    padding-bottom: 0 !important;
    padding-top: 0 !important;

    @media screen and (max-width: 767px){
        display: none !important;
    }

    &.scrolled{
        display: block;
        opacity: 1;
        visibility: visible;
    }

    .top-nav-wrapper{
        border-top: 0;
        //padding-top: 4px;
        text-align: left;
    }

    .phone-number{

        text-align: center;
        float: right;

        a{
            display: block;
            color: white;
            background: transparent !important;
            text-decoration: none;
            padding: 10px 10px 0;
            border-bottom: 0;
            text-decoration: none;
            transition: background .2s,color .2s;
            text-transform: uppercase;
            font-size: 20px;
            font-weight: bold;


            &:hover{
                color: white;
                text-decoration: none;
            }

             @media screen and (min-width: 768px) and (max-width: 1100px){
                font-size: 19px;
                padding-top: 6px;
            }
        }


    }

    //Responsive Nav Tweaks to Avoid Wrapping
    .nav.top-nav{
        @media screen and (min-width: 768px) and (max-width: 1100px){

            //Hide Home Item for More Room
            li:nth-of-type(1){
                display: none;
            }


            //Reduce padding and font size of other items to vaoid wrapping
            li{
                a{
                    padding-right: 1.0em;
                    padding-left: 0.65em;
                    font-size: 0.9em;
                }
            }
        }
    }

} // End .desktop-scrolled-header


.logged-in{
    .desktop-scrolled-header{
        top: 32px;
    }
}


/*-----------------------------------
Begin Fancy Page Header Title Styles
------------------------------------*/

.blue-header {

    text-align: center;
    background: rgba(222,230,237,.9);
    border-top: solid #c1c8ce 1px;
    border-bottom: solid #c1c8ce 1px;
    padding-top: 1.3em;
    padding-bottom: 1.3em;
    margin-bottom: 1.5em;
    margin-top: -10px;

    @media screen and (min-width: 768px){
        padding-top: 2.6em;
        padding-bottom: 2.6em;
        margin-top: -1.5em;
    }

    h1{
        @media screen and (max-width: 767px){
            font-size: 2em;
        }
    }

} //End .blue-header


/*-----------------------------------
Breadcrumb Styles (Yoast)
------------------------------------*/

.breadcrumbs {

    padding: 10px;
    background: #eee;
    border-bottom: 1px solid #e0e0e0;

    &__inner {

    }

    &__content {
        text-align: left;
        font-size: 0.9em;
    }

} //End .breadcrumbs

/*-----------------------------------
Header - Desktop - Personal Injury Law
------------------------------------*/

.desktop-header__center {

    .personal-injury-law {

        position: relative;
        right: -25px;
        top: 15px;
        font-family: oswald, $sans-serif;
        font-size: 34px;
        text-align: center;
        line-height: 50px;
        letter-spacing: 1px;
        font-weight: normal;
        color: #e8b94f;


        span {
            display: inline-block;
            color: #295985;
            border: 2px solid #e8b94f;
            padding-left: 7px;
            padding-right: 7px;
        }

        @media screen and (max-width: 1047px) {
            display: none;
        }

    }

} //End .desktop-header__center
