/******************************************************************
Theme Mobile Navigation Styles
******************************************************************/

nav.wrap {
    margin: 0;
    width: 100%;
}

.nav.top-nav {
    display: none;
}

#sb-site {
    transition: all 400ms ease;
}

.slidebar-header {
    display: block;
    padding: 0.5em 0 0.5em 11px;
    background: $slideNavHeaderBackgroundColor;
    color: $slidNavHeaderTextColor;
    margin: 0;
    position: relative;
}

.sb-active-right #sb-site {
    box-shadow: 0px 5px 10px #000;
}

.sb-active-right .mobile-header {
    box-shadow: 0px -6px 10px #000;
}

.nav.slideout-nav {
    border-bottom: 0;
    margin: 0;

    li {

        position: relative;
        border-bottom: 1px solid $slideNavLinkBottomBorder;

        &:nth-last-of-type(1) {
            border-bottom: 0;
        }

        a {
            display: block;
            color: $slideNavtopLevelLinkColor;
            background: $slideNavtopLevelBackgroundColor;
            text-decoration: none;
            padding: 0.75em;


            &:hover, &:focus {
                color: $slideNavtopLevelLinkHoverColor;
                background: $slideNavtopLevelBackgroundHoverColor;
            }

        }

        &:first-child {}

        &:last-child {}

        &:hover {
            .nav-clickClosed, .nav-clickOpen {
                color: $slideNavsecondLevelLinkHoverColor;
                }
            }

        /*Begin Submenu*/

        ul.sub-menu,
        ul.children {
            margin: 0;
            border-top: 1px solid $slideNavLinkBottomBorder;

            li {

                a {
                    padding-left: 30px;
                    color: $slideNavsecondLevelLinkColor;
                    background: $slideNavsecondLevelBackgroundColor;

                    &:hover,
                    {
                        color: $slideNavsecondLevelLinkHoverColor;
                        background: $slideNavsecondLevelBackgroundHoverColor;
                    }

                    &:focus {
                        color: $slideNavsecondLevelLinkColor;
                        background: $slideNavsecondLevelBackgroundColor;

                    }

                    &:link {}

                }


                &:first-child {}

                &:last-child {}

            }

        }

    } /* end .menu li */

    /* highlight current page */
    li.current-menu-item,
    li.current_page_item,
    li.current-page-ancestor {

        a {}

    }  /* end current highlighters */

} /* end .nav */

.li-icon-hover-bg {
    background: $topLevelBackgroundHoverColor;
}

a.no-background {
    background: none !important;
    color: $topLevelLinkHoverColor !important;
}

//wpadmin bar fixes
div#wpadminbar {
    position: fixed !important;
}

.admin-bar .sb-slidebar {
    top: 46px;
}



/*--------------------------------------------
Begin Mobile Nav Outside Appearance
---------------------------------------------*/

.mobile-nav-menu-box {
    display: block;
    cursor: pointer;
    height: 100%;
    min-height: 50px;
    width: 100%;
    background: $mobileNavBoxBackgroundColor;
    color: $mobileNavBoxLinkColor;
    position: relative;
    margin-top: 0;
    font-size: 20px;
    text-align: left;
    padding: 0 0 0 10px;
    line-height: 50px;
    border-top: 5px solid $cordisco-yellow;
}


.mobile-nav-menu-box:hover, .mobile-menu-active, .mobile-search-box:hover {
    color: $mobileNavBoxLinkHoverColor;
    background: $mobileNavBoxBackgroundHoverColor;
}

.mobile-nav-box-close {
    width: 50%;
    height: 100%;
    float: right;
    display: block;
    position: relative;
    cursor: pointer;
}

.mobile-nav-box-close:before {
    position: absolute;
    top: -2px;
    right: 0;
    width: 50%;
    cursor: pointer;
    font-size: 30px;
    content: '\f00d';
    text-align: right;
    padding-right: 17px;
    padding-top: 0;
    padding-bottom: 14px;
    font-family: fontawesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mobile-nav-box-open:before {
    content: '\f0c9';
    position: absolute;
    top: 1px;
    right: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 32px;
    text-align: right;
    padding-right: 10px;
    padding-top: 0;
    font-family: fontawesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.mobile-search-box {
    display: block;
    cursor: pointer;
    height: 100%;
    width: 50px;
    background: $mobileNavBoxBackgroundColor;
    color: $mobileNavBoxLinkColor;
    position: relative;
    margin-top: 0;
    margin-left: 10px;
    float: right;
    min-height: 50px;
}

.search-icon:before {
    content: '\f002';
    position: absolute;
    top: 4px;
    left: 10px;
    width: 100%;
    cursor: pointer;
    font-size: 30px;
    text-align: left;
    padding-right: 2%;
    padding-top: 0;
    font-family: fontawesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/*--------------------------------------------
Default Navigation Styles
---------------------------------------------*/

.nav {
    border-bottom: 0;
    margin: 0;
    list-style-type: none;

    li {

        a {
            display: block;
            color: $white;
            text-decoration: none;
            padding: 0.75em;


            &:hover, &:focus {
            }
        }

        &:first-child {}

        &:last-child {}

        ul.sub-menu,
        ul.children {

            li {

                a {
                    padding-left: 30px;

                    &:hover,
                    &:focus {}

                    &:link {}

                }

                &:first-child {}

                &:last-child {}

            }

        }

    } /* end .menu li */

    /* highlight current page */
    li.current-menu-item,
    li.current_page_item,
    li.current-page-ancestor {

        a {}

    }  /* end current highlighters */

} /* end .nav */


/******************************************************************
Begin Tablet/Desktop Navigation
******************************************************************/


@media screen and (min-width: 768px){


    /*--------------------------------------------
    Navigation Pipes
    ---------------------------------------------*/

    ul.nav.top-nav {
        & > li {
            & > a{
                &:after{
                content: "|";
                display: block;
                position: absolute;
                right: -8px;
                width: 10px;
                text-align: center;
                top: 5px;
                background: $cordisco-blue;
                bottom: 0;
                top: 6px;
                padding-top: 5px;
                right: 0;
                color: white;
                }
            }
        }

        & > li:nth-last-of-type(1){
            & > a{
                &:after{
                    content: '';
                }
            }
        }
    }

    /*--------------------------------------------
    Toggle Mobile and Desktop Nav Styles
    ---------------------------------------------*/

    .mobile-nav-menu-box, .mobile-search-box, .mobile-search  {
        display: none !important;
    }

    .top-nav, .sub-menu {
        display: block;
    }

    .desktop-downarrow {
        position: relative;
    }

    .desktop-downarrow:after {
        content: '\f107';
        font-family: fontawesome;
        float: right;
        position: absolute;
        top: -2px;
        right: -1.0em;
        font-size: 18px;
    }

    ul.sub-menu .desktop-downarrow, .nav-click  {
        display: none;
    }

    .top-nav-wrapper {
        width: 100%;
        background: $navbarBackgroundColor; //This is set from the _baseNav.scss file
        text-align: center;
        border-top: 5px solid $cordisco-yellow;
    }


    /*--------------------------------------------
    Top Level Desktop Navigation Styles
    ---------------------------------------------*/

    .nav.top-nav {
        border: 0;
        margin: 0;
        display: inline-block;
        vertical-align: top;

        ul {
            background:$black;
            margin-top:0;
        }

        li {
            float: left;

            a {
                display: block;
                color: $topLevelLinkColor;
                background: $topLevelBackgroundColor;
                text-decoration: none;
                padding: 0.75em 1.1em 0.75em 0.75em;
                border-bottom: 0;
                text-decoration: none;
                transition: background 0.2s, color 0.2s;


                &:hover, &:focus {
                    color: $topLevelLinkHoverColor;
                    background: $topLevelBackgroundHoverColor;
                    text-decoration: none;
                }
            }

            &:first-child {}
            &:last-child {}

            &:hover {
                .nav-clickClosed, .nav-clickOpen {
                    color: $secondLevelLinkHoverColor;
                }
            }

        } /* End  li */

        /* Highlight Current Page */
        li.current-menu-item,
        li.current_page_item,
        li.current-page-ancestor {
            a {
                //color: $topLevelCurrentMenuItemLinkColor;
                //background: $topLevelCurrentMenuItemBackgroundColor;

                &:hover {
                    //color: $topLevelCurrentMenuItemLinkHoverColor;
                    //background: $topLevelCurrentMenuItemBackgroundHoverColor;
                }
            }
        }  /* End Current Highlighters */

    } /* End .top-nav */


    /*--------------------------------------------
    Submenu/Paren Desktop Navigation Styles
    ---------------------------------------------*/

    .nav.top-nav li.menu-parent-item {

        a {
            padding-right: 2.2em;
        }

        &:hover {
            //background: $secondLevelBackgroundColor;
            //color:  $secondLevelLinkColor;

            a {
                //background: none;
                //color: inherit;

                &:hover {
                    //background: $topLevelBackgroundHoverColor;
                    //color:  $topLevelLinkHoverColor;
                }
            }

            ul.sub-menu, ul.children {
                //border: 1px solid $foy-blue;
                //padding: 10px;
                border-radius: 10px;
                background: transparent;
                border: none;
                padding-top: 3px;
                box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
                background: $cordisco-yellow;


                  //Top Triangle
                    &:before{
                        content: '';
                        display: block;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid $cordisco-yellow;
                        position: absolute;
                        top: -10px;
                        left: 64px;
                        z-index: 0;
                    }

                li {
                    background: transparent; //$secondLevelBackgroundColor;
                    padding: 0;

                    a {
                        border: none;
                        font-size: 17px;
                        color: $secondLevelLinkColor;
                        background: $secondLevelBackgroundColor;
                        padding: 6px 10px;
                        text-align: left;
                        margin: 0;
                        border-bottom: 1px solid #ccc;


                        &:hover {
                            color: $secondLevelLinkHoverColor;
                            background: $secondLevelBackgroundHoverColor;
                        }

                        &:link {}
                    }

                    &:first-child {
                        //For Rounded Corners
                    border-top-right-radius: 10px;
                    border-top-left-radius: 10px;


                        a{
                            border-top-right-radius: 10px;
                            border-top-left-radius: 10px;
                             padding-top: 6px;
                        }
                    }

                    &:last-child {
                        //For Rounded Corners
                        border-bottom-right-radius: 10px;
                        border-bottom-left-radius: 10px;

                         a{
                            border-bottom-right-radius: 10px;
                            border-bottom-left-radius: 10px;
                            border-bottom: none;
                        }
                    }
                }

                /* highlight sub-menu current page */
                li.current-menu-item,
                li.current_page_item,
                li.current-page-ancestor {
                    a {}
                }
            }

            /* Show/Hide Submenu */
            &:hover > ul {
                top: auto;
                visibility:visible;
                transition: visibility 0.2s;
            }
        }
    }


    /*--------------------------------------------
    Generic Navigation Styles/Functionality
    ---------------------------------------------*/

    .nav {
        border: 0;
        ul {
            background:$black;
            margin-top:0;
        }
        li {
            float: left;
            position: relative;

            a {
                border-bottom: 0;

                &:hover, &:focus {
                    color: $white;
                    text-decoration: underline;
                }
            }

            ul.sub-menu,
            ul.children {
                margin-top: 0;

                border-top: 0;
                position: absolute;
                visibility: hidden;
                z-index: 8999;

                li {

                    a {
                        padding-left: 10px;
                        border-right: 0;
                        display: block;
                        width: 180px;
                   }

                    ul {
                        top:0;
                        left:100%;
                    }
                }
            }

            /* Showing sub-menus */
            &:hover > ul {
                top: auto;
                visibility:visible;
            }

        } /* End .menu ul li */

    } /* End .nav */


} //End 768px Media Query


/*---------------------------------------------------
Mixed top nav adjustments to prevent wrapping issues
----------------------------------------------------*/

@media screen and (min-width: 768px) and (max-width: 860px){
    .nav.top-nav{
        //Hiding the Home Link
        li:nth-of-type(1){
            display: none;
        }
    }
}