

/*----------------------------------------
Ebooks Widgets
-----------------------------------------*/


.sidebar {}

.widgettitle {
    font-size: 1.325em;
    margin-top: 0;
    margin-bottom: 1em;
    color: $cordisco-blue;
}

.widget {
    margin: 1.5em 0;

    &:nth-of-type(1) {
        margin-top: 0;
    }
    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }

    ul {

        li {

            &:first-child {}

            &:last-child {}

            a {}

            /* deep nesting */
            ul {}

        }

    }

}

.no-widgets {
    background-color: $white;
    padding: 1.5em;
    text-align: center;
    //border: 1px solid $border-color;
    border-radius: 2px;
    margin-bottom: 1.5em;
}


/******************************************************************
Desktop/Tablet Sidebar Styles
******************************************************************/

.sidebar {
    margin-top: 0;
}

.widgettitle {
    margin-bottom: 0.75em;
}

.widget {
    padding: 0;
    margin: 1.8em 0;
    &:nth-of-type(1) {
        margin-top: 0;
    }
    &:nth-last-of-type(1) {
        margin-bottom: 0;
    }

    ul {
        li {
            margin-bottom: 2px;

            &:first-child {}
            &:last-child {}
            a {}
            /* deep nesting */

            ul {
                margin-top: 0.75em;
                padding-left: 1em;
            }
        }
    }
}

/*----------------------------------------
Ebooks Widgets
-----------------------------------------*/

.ebook-widget{
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 5px;

    .flexslider{
        margin-bottom: 32px !important;
        border: none !important;
        box-shadow: none !important;
    }

    &__inner{
        padding: 10px;
        padding-top: 0;
        text-align: center;
    }

    &__single-ebook{
        margin-bottom: 46px;
        position: relative;

        img{
            //To Overwrite Flexslider Styles
            width: auto !important;
            margin: 0 auto 15px auto !important;
        }

        &:after{
            content: '';
            width: 80%;
            position: relative;
            bottom: -22px;
            height: 1px;
            background: #e0e0e0;
            margin: 0 auto;
            display: block;
        }

        &:nth-last-of-type(1){
            margin-bottom: 10px;

            &:after{
                display: none;
            }
        }

        &:nth-last-of-type(1){
            img{
                border: 1px solid #dadada;
            }
        }
    }

    h3{
        color: white;
        font-weight: 600;
        margin-top: 0;
        font-size: 1.525em;
        font-weight: normal;
        width: auto;
        display: block;
        margin-left: -10px;
        margin-right: -10px;
        background: $cordisco-blue;
        padding: 10px;
        border-radius: 5px 5px 0 0;
    }

    img{
        margin-bottom: 15px;
        border-radius: 3px;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.5);
    }

    .car-accident-ebook{

    }

    .bad-lawyer-ebook{

    }

    .ebook-download-button{
        padding: 13px 17px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        text-decoration: none;
        color: #fff;
        font-size: 1.2em;
        background: $cordisco-blue;
        transition: all 0.2s;
        border-radius: 5px;

        &:hover{
            text-decoration: none;
            color: #fff;
            background: darken($cordisco-blue, 15%);
        }
    }

    .flex-control-paging li a{
        padding: 7px;
    }

} //End .ebook-widget

/*----------------------------------------
Blog Category Widget
-----------------------------------------*/

.widget_categories{
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 20px;

    ul{

        list-style-type: disc;
        list-style-position: outside;
        margin-left: 1.5em;

        li{

        }
    }


} //End .widget-categories


/*----------------------------------------
Blog Feature Widget
-----------------------------------------*/

.blog-widget{

    &__inner{

    }

    &__icon{
        font-size: 2.2rem;
        display: inline-block;
        vertical-align: top;
        line-height: 1;
        margin-right: 1.2em;
    }

    &__text{
        font-size: 1.05em;
        display: inline-block;
        vertical-align: top;
        font-weight: 600;
    }

    .fa{

    }

    a{
        text-decoration: none;
        width: 100%;
        transition: all 0.2s;
        background: darken($cordisco-yellow, 20%);
        color: #fff;
        border-radius: 5px;
        display: block;
        padding: 20px;
        text-align: left;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        font-size: 1.6rem;
        line-height: 1;
        font-weight: normal;



        &:hover{
            color: #090a0a;
            text-decoration: none;
            background: darken($cordisco-yellow, 5%);
        }
    }

} //End .blog-widget


/*----------------------------------------
FAQ Feature Widget
-----------------------------------------*/

.faq-widget{

    &__inner{

    }

    &__icon{
        font-size: 2.2rem;
        display: inline-block;
        vertical-align: top;
        margin-right: 1.2em;
        line-height: 1;
    }

    &__text{
        font-size: 1.05em;
        display: inline-block;
        vertical-align: top;
        font-weight: 600;
    }

    .fa{

    }

    a{
        text-decoration: none;
        width: 100%;
        transition: all 0.2s;
        background: darken($cordisco-blue, 20%);
        color: #fff;
        border-radius: 5px;
        display: block;
        padding: 20px;
        text-align: left;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        font-size: 1.6rem;
        line-height: 1;
        font-weight: 300;

        &:hover{
            color: #fff;
            text-decoration: none;
             background: lighten($cordisco-blue, 5%);
        }
    }

} //End .faq-widget

.sidebar-contact-form{

  .AccidentType{
    margin: 5px 0 15px 0;
  }

  .wpcf7-list-item{
    display: block;
  }
}



/*----------------------------------------
Near Me Widget Styles
-----------------------------------------*/


.near-me-widget-box {

    clear: both;
    border: 2px solid #295985;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

    .widgettitle {
        display: block;
        text-align: center;
    }

} //End .near-me-widget-box


.near-me-widget-list {

    margin-bottom: 0;

    li {

        list-style-type: disc;
        list-style-position: outside;
        margin-left: 1.5em;
        font-size: 0.9em;

        a {
            font-size: 15px;
        }
    }

} //End .near-me-widget-list