/*--------------------------------------------
Attorneys Page Styles
---------------------------------------------*/

.single-cordisco_attorneys{

    .article-header{
        padding-bottom: 5px;
    }

    .main-attorney-name{
        margin-bottom: 10px;
        margin-top: 0;
    }

    .attorney-title{
        color: $cordisco-blue;
        font-size: 1.2em;
        margin-bottom: 0;
    }

    //Thuumbnail Styles
    .attorney-thumb{
        display: block;
        margin: 0 auto 20px auto;
        border-radius: 3px;
        box-shadow: 1px 0 3px rgba(0,0,0,0.3);

        @media screen and (min-width: 500px){
            float: left;
            margin: 0 20px 1.1em 0;
        }
    } //End .attorney-thumb

} //End page wrapper