/*--------------------------------------------
Blog Feed Styles
---------------------------------------------*/

.blog, .archive, .category{

    h2.entry-title{
        margin-bottom: 5px;
    }

    .post-list-date, .post-list-cat{
        display: inline-block;
        font-size: 13px;
        color: #777;
    }

    header.article-header{
        padding-bottom: 5px;
    }

    hr{
        display: block;
        margin: 20px auto;
        width: 80%;
        border: 0;
        height: 1px;
        background-image: linear-gradient(to right, rgba(100, 100, 100, 0), rgba(100, 100, 100, 0.75), rgba(100, 100, 100, 0));
    }

    .attachment-post-thumbnail{
        float: left;
        padding: 4px;
        border-radius: 4px;
        border: 1px solid #ccc;
        display: inline-block;
        margin-right: 20px;
        margin-top: 4px;
    }


}

.single-post {
    header.article-header{
        padding-bottom: 10px;
    }

    h1.page-title{
        padding-bottom: 10px;
    }
}