/*--------------------------------------------
Case Result Styles
---------------------------------------------*/

.page-template-page-case-results-php{
    .single-verdict{

        margin-bottom: 20px;

       .verdict-amount{
            text-align: center;
            font-weight: 600;
            font-size: 1.7em;
            display: block;
            color: $cordisco-blue;
            margin-bottom: 10px;
            margin-top: 20px;
        }

        .verdict-description {
            text-align: center;
            display: block;
        }

    } //End .single-verdict

    .result-listing{

        hr{
            &:nth-last-of-type(1){
                display: none;
            }
        }

    } //End .result-listing

} //End page wrapper