/*--------------------------------------------
Ebook Page and Form Styles
---------------------------------------------*/


.page-template-page-ebook-lawyer-php, .page-template-page-ebook-wreck-php {

    .page-title{
        text-align: center;
    }

    //Grid Styles
    .ebook-left {
        width: 100%;
        margin-bottom: 20px;

        @media screen and (min-width: 768px){
            width: calc(100% - 350px);
            float: left;
            padding-right: 30px;
            margin-bottom: 0;
        }
    }


    .ebook-right{
        width: 100%;

        @media screen and (min-width: 768px){
            width: 350px;
            float: right;
        }
    }

    //Form Styles
    .ebook-form{

        h2{
            text-align: center;
            margin-top: 0;
            display: block;
            color: #fff;
            font-size: 1.65em;
        }

    } //End .ebook-form

} //End page wrapper