/*--------------------------------------------
FAQ Styles
---------------------------------------------*/


.page-template-page-faqs-php{

    //Reducing inner width for appearance purposes
    #inner-content{
        max-width: 935px;
    }

    .faq-top-content{
        text-align: center;
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;
    }


    h1.page-title{
     text-align: center;
    }

    .entry-content{
        text-align: center;
    }

    } //end page wrapper


    .sidebar-faq-heading{
        font-size: 23px;
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #069;
    }


    img.faq-featured-image{
        display: block;
        margin: 20px auto;

        @media screen and (min-width: 600px){
            float: right;
            margin: 1px 0 5px 20px;
        }
    }

    .faq-filter-portfolio-wrapper{

        .faq-filter-intro-text{
            text-align: center;
        }

        .faq-filter-list{
            @media screen and (min-width: 960px){
                //margin-left: -12px;
                //margin-right: -12px;
            }
            @media screen and (max-width: 430px){
                width: 304px;
                margin: 0 auto;
            }
        }

        //Photos and Filterable Information Blocks

        .faq-filter-listing, .faq-page-listing{
            margin-bottom: 30px;
            width: 280px;
            min-height: 230px;
            box-sizing: border-box;
            padding: 0 0 0 0;
            margin-left: 12px;
            margin-right: 12px;
            @include clearfix();
            padding-bottom: 89px;
            //border-bottom: 1px solid #DADADA;
            margin-bottom: 20px;
            border: 1px solid #E8E8E8;
            border-radius: 4px;
            position: relative;

            @media screen and (max-width: 400px){
                width: 264px;
            }

            &.sorted{
                //border-bottom: none;
            }

            &:hover{
                //background: #fafafa;
            }

        }

        .faq-page-listing{
            float: left;
            margin: 20px 0;
            width: 100%;
            max-width: 400px;

             &:nth-last-of-type(1){
                margin-right: 0;
            }


            @media screen and (max-width: 767px){
                float: none;
                margin: 20px auto;

                 &:nth-last-of-type(1){
                    margin-right: auto;
                }
            }

            @media screen and (min-width: 768px) and (max-width: 1385px){
                &:nth-of-type(3){
                    //clear: left;
                }
            }


        }



        .faq-filter-image-link{
            display: block;
            margin: 0 auto 3px auto;
            position: relative;


            //max-width: 150px;


            img{
                //border-radius: 10px;
                max-width: 100%;
                margin: 0 auto;
                display: block;
                height: auto;
                border-radius: 4px 4px 0 0;
            }

            &:hover:before{
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(255,255,255,0.3);
                display: block;
                border-radius: 10px;
            }

            .image-category-box{
                position: absolute;
                display: block;
                background: #CE3C3C;
                font-size: 11px;
                text-transform: uppercase;
                //border-top-left-radius: 10px;
                //border-bottom-right-radius: 10px;
                top: 0;
                left: 0;
                width: auto;
                padding: 3px 5px;
                color: white;
            }

            .faq-date{
                position: absolute;
                color: white;
                background: rgba(0,0,0,0.7);
                padding: 4px;
                font-size: 11px;
                bottom: 0;
                right: 0;
            }
        }



        //faq Meta Information
        .faq-meta{
            display: block;
            margin-top: 10px;
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;

            .faq-category{
                color: #4B4B4B;
                width: 100%;
                float: left;
                font-size: 11px;
                text-align: center;
            }

            .divider{
                &:nth-last-of-type(1){
                    display: none;
                }
            }

        }


        .faq-filter-title-link{
            text-align: center;
            display: block;
            margin-top: 10px;
            font-size: 16px;
            padding-left: 10px;
            padding-right: 10px;
            text-decoration: none;
            color: $cordisco-blue;


            @media screen and (max-width: 767px){
                font-size: 20px;
            }

            &:hover{
                text-decoration: none;
                color: darken($cordisco-blue, 15%);
            }
        }

        .continue-reading-button{
            font-size: 18px;
            color: $cordisco-blue;
            display: block;
            width: 200px;
            margin: 20px auto;
            padding: 10px;
            text-align: center;
            border: 1px solid $cordisco-blue;
            background: white;
            transition: all 0.2s;
            text-decoration: none;

            border-radius: 4px;
            position: absolute;
            bottom: 0;
            left: 50%;
            margin-left: -100px;

            &:hover{
                color: white;
                background: $cordisco-blue;
            }
        }




        //Category Filter Heading Styles

         .faq-filter-category-text{
            text-align: center;
            display: block;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;
            max-width: 500px;
            margin: 20px auto 10px auto;
            padding-bottom: 10px;
            padding-top: 10px;
            color: #908C8C;
            font-size: 20px;

        }

        //Category Filter Buttons



        .faq-filter-category-list{
            text-align: center;
            display: block;
            margin-bottom: 30px;
            padding: 0 15px 5px 15px;
            border-bottom: 1px solid #ccc;
            border-top: 1px solid #ccc;


            .isotope-link{
                display: inline-block;
                padding: 4px 0;
                margin: 0 12px;
                background: white;
                cursor: pointer;
                font-size: 15px;
                //border-radius: 4px;
                //border: 1px solid darken(#30363D, 5%);
                border: none;
                border-bottom:  3px solid transparent;
                transition: border 0.2s;
                //text-shadow: 0px -1px darken(#30363D, 20%);
                color: #000;
                position: relative;
                top: 5px;

                &:hover{
                    //background: darken(#FFF, 10%);
                    //border: 1px solid darken(#30363D, 5%);
                    border-bottom:  3px solid lighten($cordisco-yellow, 10%);
                    //color: white;
                }

                &:focus{
                    outline:none;
                }

                &.is-checked{
                    border-bottom: 3px solid $cordisco-blue;
                    text-shadow: none;
                    //color:  #3c3c3c;
                    color: $cordisco-blue;
                    //background: white;

                    &:before{
                        //display: none;
                    }
                }

                &:focus{
                    //transform: translate(0px,3px);
                    //-webkit-transform: translate(0px,3px);
                    border-bottom: 3px solid $cordisco-blue;
                }

                span{
                    position: relative;
                    z-index: 10;
                }

                &:before{
                    border-radius: 4px;
                    content: ' ';
                    position: absolute;
                    display: block;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    //background: url(../images/nav_bg.png) repeat-x;
                }
            }
        }

}



/*--------------------------------------------
Related FAQ List Styles
---------------------------------------------*/

.related-faq-list {
    list-style-type: disc;
    list-style-position: outside;
    margin-left: 1.3em;

    li {
        padding-left: 5px;
    }
} //End .related-faq-list


/*--------------------------------------------
Single FAQ Styles
---------------------------------------------*/

.single-cordisco_faq{

    .faq-categories{
        color: #9fa6b4;
        font-style: italic;
        margin-bottom: 0;
    }

    .faq-thumb {
        padding: 4px;
        border-radius: 3px;
        border: 1px solid #ccc;
        float: left;
        margin-right: 20px;

        @media screen and (max-width: 600px){
            float: none;
            display: block;
            margin: 0 auto 20px auto;
        }
    }

    .entry-content h2{
        &:nth-of-type(1){
            clear: both;
        }
    }

} //End page wrapper