/********************************************************************
Homepage Specific Styles
********************************************************************/

/*----------------------------------------
General Page Wrapper
-----------------------------------------*/

.page-template-page-homepage-php{

    .breadcrumbs {
        display: none;
    }

    #container{
        padding-top: 0 !important;
    }

    .section-title{
        font-weight: 600;
        font-size: 2.5rem;
        text-align: center;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .homepage-centered-button-wrapper{
        text-align: center;
    }

    .homepage-gray-button {
        display: inline-block;
        vertical-align: top;
        color: #fff;
        background: #666768;
        text-decoration: none;
        font-size: 1.2em;
        padding: 7px 13px;
        transition: all 0.2s;
        border-radius: 4px;


        &:hover{
            background: darken(#666768, 15%);
            color: #fff;
            text-decoration: none;
        }
    }

} //End  page wrapper

/*----------------------------------------
General Homepage Section Styles
-----------------------------------------*/

.homepage-section {
    padding: 30px 0;

    img{
        width: auto;
        max-width: 100%;
    }


} //End .homepage-section


/*----------------------------------------
Homepage Intro Styles
-- Fancy background w/ Form
-----------------------------------------*/

.homepage-intro-section{
    @include clearfix();
    //background-image: url(../images/homepage/homepage-intro-background.jpg);
    margin-bottom: 0;
    padding-top: 30px;
    padding-bottom: 0;
    position: relative;

    @media screen and (max-width: 767px){
        padding-top: 0;
    }

    @media screen and (min-width: 768px){
        background: $cordisco-blue;
        position: relative;

        &:after {
            content: '';
            display: block;
            position: absolute;
            z-index: 4;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: url(../video/homepage-video-placeholder.jpg) no-repeat top center;
            background-size: cover;
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to right, rgba(17,47,80,0.3) 0%, rgba(17,47,80,0.3) 51%, rgba(17,47,80,0.7) 56%, rgba(17,47,80, 0.9) 55%, rgba(17,47,80,1) 70%,rgba(17,47,80,1) 100%);
        }

    }

    &__inner{
        @media screen and (max-width: 767px){
            margin-left: -10px;
            margin-right: -10px;
            width: auto;
            position: relative;
            z-index: 10;
        }

        @media screen and (min-width: 768px){
            //For alignment of john and michael images
            display: flex;
            position: relative;
            z-index: 10;
        }
    }

    //Intro Text
    &__header-text{
        display: block;
        width: 100%;
        text-align: center;
        font-size: 2em;
        margin-bottom: 20px;
        font-weight: 600;
        line-height: 1.1;
        color: #443d3d;
        padding-top: 20px;


        @media screen and (min-width: 768px){
            font-size: 2.3em;
            padding-top: 0;
        }
    }

    //Grid Styles
    &__left{
        @include clearfix();
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 0;
        position: relative;
        border-bottom: 5px solid $cordisco-blue;


        //Desktop-Mobile Toggle

        &.show-desktop {
            display: none !important;
            @media screen and (min-width: 768px){
                display: flex !important;
                align-items: flex-end;
                margin-bottom: -5px;
            }
        }
        &.show-mobile{
            display: block !important;
            @media screen and(min-width: 767px){
                display: none !important;
            }
        }

        @media screen and (max-width: 767px){
            padding-left: 10px;
            padding-right: 10px;
            margin-bottom: 0;
            background-color: #295985;
            overflow: hidden;
             border-bottom: 5px solid #1c2023;

            //Background Image
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                background: url(../images/homepage/mobile-header-bg.png) center center no-repeat;
                background: url(../images/mobile-homepage-video-background.jpg) no-repeat top center;
                background-size: cover;
            }

            //Gradient Overlay
            &:before {
                content: '';
                display: block;
                position: absolute;
                z-index: 5;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba(17,47,80,0.3);
            }

            img{
                margin-bottom: -5px;
            }
        }

        @media screen and (min-width: 768px) and (max-width: 1100px){
            width: 65%;
            float: left;
            padding-right: 20px;
            margin-bottom: 0;
            border-bottom: 0;
        }

        @media screen and (min-width: 1101px){
            width: 65%;
            float: left;
            padding-right: 20px;
            margin-bottom: 0;
            border-bottom: 0;
        }

    }

    //Homepage Desktop Slider Styles

    .homepage-desktop-slider, .homepage-desktop-video{
        border: none;
        border-radius: none;
        background: transparent;
        margin-bottom: 0;
        height: 100%;
        width: 100%;

        .slides{
            height: 100%;
            //display: flex;
            display: block !important;
            align-items: flex-end;
        }


            //Video Slide Styles
            //Note Video Pop-up styles at bottom of page
            .slide-video {
                position: relative;
                z-index: 100;
                margin: 0 auto;
                color: #fff;
                text-decoration: none;
                display: block !important;

                a {
                    display: block;
                    color: #fff;
                    width: 100%;
                    position: relative;
                    text-align: center;
                    text-decoration: none;
                    margin-top: 177px;
                    margin-left: auto;
                    margin-right: auto;

                    @media screen and (max-width: 767px) {
                        margin-top: 110px;
                        margin-bottom: 80px;
                    }
                }

              i {
                    margin: 20px auto 0 auto;
                    position: relative;
                    z-index: 100;
                    color: #fff;
                    text-decoration: none;
                    display: block;
                    font-size: 40px;
                    height: 80px;
                    transition: 0.2s;
                    line-height: 80px;
                    width: 80px;
                    border: 4px solid white;
                    border-radius: 100%;
                    background: transparent;
                    text-align: center;
                    box-shadow: 0 2px 4px rgba(0,0,0,0.7);
                    background-color: rgba(255,255,255, 0.2);

                    &:before {
                        top: -3px;
                        left: 4px;
                        position: relative;
                        font-shadow: 0 2px 4px rgba(0,0,0,0.7);
                    }

                    &:hover {
                        background: $cordisco-blue;
                    }
                }


            .homepage-video {

                background: white;
                padding: 20px 30px;
                text-align: left;
                max-width: 400px;
                margin: 0 auto;
                position: relative;

            }

            .homepage-intro-section__video-headline {
                position: relative;
                z-index: 100;
                color: #fff;
                text-decoration: none;
                margin: 0 auto 15px auto;
                font-size: 50px;
                text-align: center;
                letter-spacing: 0px;
                font-family: Oswald, $sans-serif;
                text-transform: uppercase;
                text-shadow: 0 2px 2px rgba(0,0,0,0.7);

                @media screen and (max-width: 1100px){
                    font-size: 28px;
                    padding-left: 10px;
                    padding-right: 10px;
                }

            }



            //Setting Seperate BG Images

            &.slide-video:after{
                background-image: url(../video/homepage-video-placeholder.jpg);
                opacity: 1;
                background-position: top center;

                @media screen and (max-width: 767px) {
                    background-image: url(../images/mobile-homepage-video-background.jpg);
                }
            }

            &.slide-video:before {
                //background: linear-gradient(to right, rgba(17,47,80,0) 0%,rgba(17,47,80,0.3) 35%,rgba(17,47,80,0.3) 65%,rgba(17,47,80,0) 100%);
            }

            &.slide-0:after{
                background-image: url(../images/homepage/slides/slide-1-new-background.png);
                opacity: 0.5;
            }

            &.slide-1:after{
                background-image: url(../images/homepage/slides/slide-1-background.png);
            }

            &.slide-2:after{
                background-image: url(../images/homepage/slides/slide-2-background.png);
                opacity: 0.5;
            }

            &.slide-3:after{
                background-image: url(../images/homepage/slides/slide-3-background.png);
            }

            &.slide-4:after{
                background-image: url(../images/homepage/slides/slide-4-background.png);
            }

        }
    }



    &__right{
        width: 100%;
        margin-bottom: 20px;
        padding-bottom: 30px;

        @media screen and (max-width: 767px){
            padding-left: 10px;
            padding-right: 10px;
            background: #0c1a27;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 0;
        }

        @media screen and (min-width: 768px) and (max-width: 1100px){
            width: 35%;
            float: left;
            padding-left: 20px;
            padding-bottom: 0;
            margin-bottom: 20px;
            position: relative;
            z-index: 10;
        }

        @media screen and (min-width: 1101px){
            width: 35%;
            float: left;
            padding-left: 20px;
            padding-bottom: 20px;
            margin-bottom: 0;
            z-index: 10;
            position: relative;
        }
    }

    //Michael and John Photo Alignment & Sizing
    &__michael-photo{
        width: 50%;
        text-align: left;
        float: right;
        position: absolute;
        bottom: 0;
        right: 0;
        padding-left: 10px;

        img{
            display: inline-block;
            vertical-align: top;
            margin-bottom: 0;
        }

        @media screen and (max-width: 767px){
            position: static;
        }
    }
    &__john-photo{
        width: 50%;
        text-align: left;
        float: left;
        position: absolute;
        bottom: 0;
        left: 0;
        padding-right: 10px;

        img{
            display: inline-block;
            vertical-align: top;
            margin-bottom: 0;
        }

        @media screen and (max-width: 767px){
            //position: static;
        }
    }

} //End .homepage-intro-section

/*----------------------------------------
Homepage Form Styles
-----------------------------------------*/

.homepage-top-contact-form{

    @include clearfix();
    background: rgba(31,36,41,0.54);
    padding: 15px;
    color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    max-width: 450px;

    @media screen and (min-width: 768px){
        float: right;
        max-width: 500px;
        margin: 0;

        //Updating Grid for Email Length
        .one-half {
            &:nth-of-type(1){
                width: 56%;
            }
            &:nth-of-type(2){
                width: 40%;
            }
        }
    }

    h2{
        font-size: 1.5em;
        margin-top: 0;
        margin-bottom: 20px;
        color: #fff;
        text-align: center;
        line-height: 1.2em;
        margin-top: 0;
    }

    h3{
        font-size: 1;
        margin-top: 0;
        margin-bottom: 20px;
        color: #fff;
        text-align: center;
        line-height: 1.2em;
    }


    //Input Styles
    input[type="text"], input[type="email"], input[type="tel"], textarea{
        color: $text-color;
        margin-bottom: 21px;
        border: 2px solid transparent;
        border-radius: 0;
        max-width: none;
        padding-left: 42px;
        position: relative;
    }

    textarea{
        height: 96px;
        margin-bottom: 0;
    }

    input[type="submit"]{
        display: block;
        vertical-align: top;
        width: calc(100% - 40px);
        max-width: 330px;
        color: #fff;
        float: none;
        border-radius: 5px;
        text-decoration: none;
        outline: none;
        background: #c60144;
        text-align: center;
        font-family: $sans-serif;
        font-size: 1.2em;
        border: none;
        padding: 12px 20px;
        transition: all 0.2s;
        margin: 20px auto 0 auto;
        font-weight: bold;
        text-transform: uppercase;


        &:hover{
            background: lighten($cordisco-blue, 15%);
        }
    }

    //Input Icon Styles
    .wpcf7-form-control-wrap{
        position: relative;
        display: block;

        &:before{
                position: absolute;
                left: 10px;
                font-size: 1.2em;
                color: $cordisco-blue;
                font-family: fontawesome;
                display: block;
                line-height: 1.9;
                z-index: 10;
                top: 3px;

                @media screen and (max-width: 600px){
                    line-height: 41px;
                }
            }
        }

        .your-name:before{
            content: '\f007';
        }

        .your-email:before{
            content: '\f0e0';
        }

        .your-telephone:before{
            content: '\f095';
            top: 0.2em;
        }

        .your-message:before{
            content: '\f0e6';
        }

        //General Cleanup
        p{
            margin-bottom: 0;
        }

        br{
            display: none;
        }

        .submit{
            position: relative;
        }

        //Validation Styles
        .wpcf7-not-valid-tip, .wpcf7-validation-errors, .wpcf7-response-output{
            display: none !important;
        }

        .wpcf7-not-valid{
            border: 2px solid red !important;
            background: #fff5f5 !important;

            &.wpcf7-checkbox{
                padding: 3px;
            }
        }

        .ajax-loader{
            position: absolute;
            top: 2.2em;
            margin-left: 15px !important;
            background-image: none !important;
            line-height: 1;
            float: none;
            -webkit-animation: form-validation-spin 2s infinite linear;
            animation: form-validation-spin 2s infinite linear;
            margin-bottom: 0;
            right: 11px;
            top: 10px;

            &:before{
              font-family: fontawesome;
              color: #fff;
              font-size: 1em;
              content: '\f110';
              line-height: 1;
              display: block;
              bottom: 0;
            }
        }
} //End .homepage-top-contact-form


/*----------------------------------------
Homepage Main H1 Section
-----------------------------------------*/

.main-header-section{
    text-align: center;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 5px solid $cordisco-blue;
    border-bottom: 5px solid $cordisco-blue;
    color: $cordisco-blue;

    h1{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

} //End .main-header-section


/*----------------------------------------
Homepage Trust Logos
-----------------------------------------*/

.trust-logo-section{
    text-align: center;
    border-bottom: 5px solid $cordisco-blue;

   &__inner{

        display: flex;
        align-items: center;

        img{
            width: auto;
            display: inline-block;
            vertical-align: top;
            padding: 0 10px;
            max-height: 94px;

        } //End img
   }

   &__image-wrapper{

        &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7){
            display: none;
        }

        @media screen and (min-width: 1100px){
            &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7){
                display: inline-block;
            }
        }
   }

}


/*----------------------------------------
Homepage Testimonial/Video Section
-----------------------------------------*/

.homepage-testimonial-section {

    .row{

        .one-third{
            margin-bottom: 20px;

            @media screen and (min-width: 768px){
                margin-bottom: 0;
            }
        }

        @media screen and (min-width: 768px){
            display: flex;
        }
    }

    //Backgrounds

    &__testimonial{

        background-size: cover;
        position: relative;
        z-index: 0;
        padding: 1.5em;
        height: 100%;
        border-bottom: 5px solid $cordisco-yellow;

        //Overlay
        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            transition: all 0.2s;
            background: rgba(41,89,133,0.88);
        }

        &:hover:before{
            background: rgba(41,89,133,0.95);
        }

        //Backgrounds
        &--office{
            background: url(../images/homepage/testimonial-bg-1.jpg) no-repeat center center;
        }

        &--warehouse{
            background: url(../images/homepage/testimonial-bg-2.jpg) no-repeat center center;
        }


    }


    //General Styles

    &__testimonial-content{
        font-size: 1.1em;
        position: relative;
        z-index: 10;
        color: #fff;
        margin-bottom: 20px;
        font-weight: 300;
    }

    &__testimonial-author{
        position: relative;
        z-index: 10;
        color: #fff;
        font-weight: 600;
    }

    &__video-embed{
        max-width: 100%;
    }

    &__image {

        border: 3px solid #d7a91f;
        border-radius: 3px;
        box-shadow: 0 2px 4px rgba(0,0,0,0.3);
        transition: 0.2s;


        @media screen and (max-width: 768px){
            display: block;
            max-width: 355px;
            margin-left: auto;
            margin-right: auto;
        }

        &:hover {
            transform: scale(1.1);
        }
    }

    .video-wrapper{
        @media screen and (min-width: 768px){
            height: 100%;
        }
    }

} //End .homepage-testimonial-section


/*----------------------------------------
Homepage Intro Content Section
-----------------------------------------*/

.homepage-intro-content {
    padding-top: 0;
    border-bottom: 5px solid $cordisco-yellow;
    margin-top: 60px;

    h2{
        color: $cordisco-blue;
        font-weight: 600;
        text-align: center;
        margin-top: 0;
    }

    h3{
        font-weight: 600;
        color: $cordisco-red;
    }

} //End .homepage-intro-content



/*----------------------------------------
Homepage Attorney Feature Section
-----------------------------------------*/

.homepage-attorney-feature {

    background: $cordisco-blue;

    .section-title{
        font-weight: 600;
        color: #fff;
        margin-top: 0;
        margin-bottom: 30px;
        text-align: center;
    }

    //Attorney Wrapper
    &__attorney {

    }

    //Grid
    &__attorney-left {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

        @media screen and (min-width: 768px){
            width: 50%;
            float: left;
            padding-right: 20px;
            text-align: left;
        }
    }

    &__attorney-right {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;

        @media screen and (min-width: 768px){
            width: 50%;
            float: left;
            text-align: left;
        }
    }

    //Single Attorney Styles
    &__attorney-image {

        img{
            display: inline-block;
            vertical-align: top;
            background: #fff;
            padding: 6px;
            border-radius: 4px;
            transition: opacity .5s ease;

            &:hover{
              opacity: .7;
            }
        }

    }

    &__attorney-name a{
        color: #e3c975;
        font-size: 1.8em;
        line-height: 1.1;
        margin-bottom: 10px;
        font-family: $serif;
        text-decoration: none;

        &:hover{
          color: darken(#e3c975, 10%);
        }
    }

    &__attorney-title {
        color: #fff;
        line-height: 1.1;
        font-size: 1.3em;
        margin-bottom: 15px;
        font-family: $serif;
    }

    &__attorney-description {
        color: #fff;
        line-height: 1.5;

        a{
            color: #e3c975;
            text-decoration: none;
            transition: 0.2s;

            &:hover{
                color: darken(#e3c975, 15%);
                text-decoration: none;
            }
        }
    }

    &__members-button-wrapper{
        text-align: center;
    }

    &__members-button{
        display: inline-block;
        vertical-align: top;
        color: #fff;
        background: #666768;
        text-decoration: none;
        font-size: 1.2em;
        padding: 7px 13px;
        transition: all 0.2s;
        border-radius: 4px;


        &:hover{
            background: darken(#666768, 15%);
            color: #fff;
            text-decoration: none;
        }
    }


} //End .homepage-attorney-feature



/*----------------------------------------
Homepage Results Section
-----------------------------------------*/

//Container
.homepage-results{

    background: #fff;

    .section-title{
        color: $cordisco-blue;
    }

    &__button-wrapper{
        text-align: center;
        margin-top: 10px;
    }

} //End .hompepage-results

.homepage-results-list{
    text-align: center;

    @media screen and (min-width: 768px){
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-align: space-between;
        width: auto;
        margin-left: -10px;
        margin-right: -10px;
    }
}


//Single Result
.homepage-result{

    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    transition: all 0.2s;
    padding: 0 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 400px;

    @media screen and (min-width: 768px){
        width: 33%;
        min-width:  250px;
    }

    &__title {
        font-size: 15px;
        font-family: $serif;
        color: #fff;
        text-align: center;
        background: $cordisco-blue;
        padding: 5px 10px;
        transition: all 0.2s;

        @media screen and (min-width: 768px){
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    &__amount {
        font-size: 2.3em;
        color: #fff;
        background: $cordisco-gray;
        text-align: center;
        padding: 20px 10px;
        font-family: $serif;
        text-shadow: 1px 0 2px rgba(0,0,0,0.3);
        transition: all 0.2s;
        letter-spacing: 1px;
    }

    &__learn-more {
        text-align: center;
        font-size: 15px;
        background: $cordisco-blue;
        color: #fff;
        transition: all 0.2s;
        padding: 5px 10px;
    }

    //Hover Styles
    &:hover{
        .homepage-result__title{
            background: darken($cordisco-blue, 15%);
        }
        .homepage-result__amount{
            background: darken($cordisco-gray, 15%);
        }
        .homepage-result__learn-more{
            background: darken($cordisco-blue, 15%);
        }
    }

} //End .homepage-result


/*----------------------------------------
Testimonials Section
-- Note general testimonial styles are in partials/testimonials.scss
-----------------------------------------*/

.testimonials-section{

    background: $cordisco-blue;

    .section-title{
        color: #fff;
    }

} //End .testimonials-section



/*----------------------------------------
Ebook Promo Section
-----------------------------------------*/

.homepage-ebook-promo {
    background: #dadada;
    //Grid

    &__left {
        width: 100%;
        max-width: 560px;
        padding-bottom: 20px;
        border-bottom: 1px solid #e0e0e0;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 768px){
            float: left;
            margin-bottom: 0;
            padding-bottom: 0;
            border-bottom: 0;
            width: 50%;
            padding-right: 30px;
        }
    }

    &__right {
        width: 100%;
        max-width: 560px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;

        @media screen and (min-width: 768px){
            float: left;
            margin-bottom: 0;
            width: 50%;
            padding-left: 30px;
        }
    }


    //Promo Styles

    &__image{
        text-align: center;
        width: 180px;
        margin-bottom: 20px;
        margin-left: auto;
        margin-right: auto;


        @media screen and (min-width: 768px) and (max-width: 960px){
            width: 100px;
            text-align: left;
            margin-bottom: 0;
            float: left;
            padding-right: 15px;
        }

        @media screen and (min-width: 961px){
            width: 180px;
            text-align: left;
            float: left;
            padding-right: 15px;
        }

        img{
            border-radius: 3px;
            box-shadow: 1px 1px 4px rgba(0,0,0,0.5);
        }
    }

    &__content{
        text-align: center;
        width: 100%;

        @media screen and (min-width: 768px) and (max-width: 960px){
            width: calc(100% - 100px);
            text-align: left;
            margin-bottom: 0;
            float: left;
            padding-right: 15px;
        }

        @media screen and (min-width: 961px){
            width: calc(100% - 180px);
            text-align: left;
            float: left;
            padding-left: 15px;
        }
    }

    &__title{
        font-weight: bold;
        line-height: 1.1;
        margin-bottom: 20px;
        font-size: 1.5em;
    }

    &__description{
        line-height: 1.3;
        font-size: 1.1em;
        margin-bottom: 15px;
    }

    &__button{
        display: inline-block;
        vertical-align: top;
        color: #fff;
        background: #666768;
        text-decoration: none;
        font-size: 1.1em;
        padding: 7px 13px;
        transition: all 0.2s;
        border-radius: 4px;

        &:hover{
            background: darken(#666768, 15%);
            color: #fff;
            text-decoration: none;
        }
    }


} //End .homepage-ebook-promo


/*----------------------------------------
Map Section Styles
-----------------------------------------*/

.homepage-map-section {
    padding-top: 0;
    padding-bottom: 0;

    .homepage-map{
        display: block;
        height: 515px;
        width: 100%;
        background-color: #e0e0e0;
    }

} //End .homepage-map-section



/*----------------------------------------
Practice Area Circle Styles
-----------------------------------------*/

.homepage-practice-areas-section{

    background: #dadada;

    .section-title{
        color: $cordisco-blue;
    }

    //Wrapper
    .practice-area-circles{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 30px;
    }

    //Single Circle Styles

    .homepage-practice-area-circle{
        color: #fff;
        display: block;
        text-decoration: none;
        padding: 10px;

        &__inner {
            height: 205px;
            width: 205px;
            border-radius: 205px;
            overflow: hidden;
            display: block;
            position: relative;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            transition: all 0.1s;
            box-shadow: 0px 1px 4px rgba(0,0,0,0.4);

            //Overlay
            &:before{
                content: '';
                background: rgba(255,255,255,0.6);
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 0;
                opacity: 1;
                transition: all 0.15s;
                height: 205px;
                width: 205px;
                border-radius: 205px;
            }
        }

        &__title {
            font-weight: bold;
            font-size: 1.3em;
            display: block;
            background: $cordisco-blue;
            padding: 20px 39px 10px;
            text-align: center;
            position: relative;
            z-index: 10;
            transition: all 0.15s 0.15s ease;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            border-radius: 205px 205px 0 0;
        }

        &__read-more {
            font-size: 18px;
            background: $cordisco-blue;
            text-align: center;
            border-top: 5px solid $cordisco-yellow;
            padding: 0px 5px 40px 10px;
            z-index: 15;
            top: 210px;
            right: 0;
            left: 0;
            position: absolute;
            transition: all 0.15s 0s ease;
            border-radius: 0 0 205px 205px;
            height: 30px;
        }


        //Hover Styles For Animation
        &:hover{
            .homepage-practice-area-circle__inner{
                &:before{
                    background: rgba(255,255,255,0);
                     transition: all 0.15s 0.18s ease;
                }
            }

            .homepage-practice-area-circle__title{
                transition: all 0.15s 0 ease;
                z-index: 15;
            }

            .homepage-practice-area-circle__read-more{
                top: 160px;
                transition: all 0.15s 0.18s ease;
                z-index: 10;
            }
        }

    } //End .homepage-practice-area-circle

} //End .practice-areas-section


//Magnific Popup for Video
.mfp-content {
    margin: 0 auto;

    .homepage-video {
        margin: 0 auto;
        max-width: 80%;
    }
}

/*----------------------------------------
New Homepage Top Section
-----------------------------------------*/

.homepage-hero-section {
    padding: 0;
    overflow: hidden;

    &__mobile-photo {
        display: block;
        background: red;
        position: relative;
        z-index: 10;
        box-shadow: 0 4px 8px rgba(0,0,0,0.7) inset;

        @media screen and (min-width: 768px) {
            min-height: 340px;
            background: url(../images/homepage-hero-background.jpg) no-repeat center;
            background-position: 0 0;
            background-size: cover;
            background-size: 125%;
        }

        @media screen and (min-width: 1145px) {
            display: none;
        }

        img {
            display: block;
            margin: 0 auto;
            width: 100%;

            @media screen and (min-width: 768px) {
                display: none;
            }

        }
    }

    &__inner {

        background: url(../images/homepage-hero-background.jpg) no-repeat center;
        background-size: cover;
        position: relative;
        background-position: -285px 0;
        max-height: 600px;

        @media screen and (max-width: 1144px) {
            max-height: none;
        }

        &:before {
            width: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50vw;
            content: '';
            background: #295985;
            z-index: 2;

        }
    }

    .wrapper {
        display: flex;
        justify-content: flex-end;
        padding-right: 0;
        padding-left: 0;
    }


    &__info-section {

        position: relative;
        z-index: 3;
        max-width: 700px;
        width: 100%;

        @media screen and (max-width: 1144px) {
            max-width: none;
        }

        @media screen and (max-width: 767px) {
            padding-top: 25px;
        }

        &-inner {
            position: relative;
             background: #163c5f;
            padding: 30px 10px;
            position: relative;
            z-index: 3;
        }

        &:before {
            content: '';
            top: 0;
            height: 100%;
            bottom: 0;
            left: -100px;
            width: 0;
            height: 0;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
            border-bottom: 800px solid #163c5f;
            background: transparent;
            display: block;
            z-index: 2;
            position: absolute;
        }

        &:after {
             content: '';
            top: 0;
            height: 100%;
            bottom: 0;
            right: -100px;
            width: 0;
            height: 0;
            border-left: 100px solid transparent;
            border-right: 100px solid transparent;
            border-bottom: 800px solid #163c5f;
            background: transparent;
            display: block;
            z-index: 2;
            position: absolute;
        }

    }

    &__mobile-photo {
        position: relative;
    }

} //End .homepage-hero-section

.homepage-wistia-video {

    position: absolute;
    left: calc(50% - 32vw);
    top: 157px;
    z-index: 10;

    &.desktop {
        display: block;

        @media (max-width: 1144px){
            display: none;
        }
    }

    &.mobile {
        display: block;
        position: absolute;
        left: calc(50% - 40px);
        top: 26%;
        z-index: 10;

        @media (min-width: 1145px) {
            display: none;
        }
    }

    a {
        display: block;
        height: 80px;
        width: 80px;
        text-decoration: none;
        //border-radius: 100px;
        //background: white;
        transition: 0.2s;
        text-align: center;
        //border: 2px solid $cordisco-blue;
        color: #fff;

        &:hover {
            //background: #f0f0f0;
        }
    }
      i {
        margin: 20px auto 0 auto;
        position: relative;
        z-index: 100;
        color: #fff;
        text-decoration: none;
        display: block;
        font-size: 40px;
        height: 80px;
        transition: 0.2s;
        line-height: 80px;
        width: 80px;
        border: 4px solid white;
        border-radius: 100%;
        background: transparent;
        text-align: center;
        box-shadow: 0 2px 4px rgba(0,0,0,0.7);
        background-color: rgba(255,255,255, 0.2);

        &:before {
            top: -3px;
            left: 4px;
            position: relative;
            font-shadow: 0 2px 4px rgba(0,0,0,0.7);
        }

        &:hover {
            background: $cordisco-blue;
        }
    }
} //End .homepage-wistia-video

.homepage-hero-info {

    &__title {
        display: block;
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        margin-bottom: 10px;
        text-align: center;
        line-height: 1.2;
    }

    &__sub-title {
        display: block;
        font-weight: bold;
        font-size: 22px;
        color: #e8b94f;
        text-align: center;
        margin-bottom: 15px;
        letter-spacing: 2px;
        font-family: 'oswald', $sans-serif;
    }

    &__info {
        color: #fff;
        display: block;
        text-align: center;
        font-style: italic;
        font-family: oswald, $sans-serif;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

    &__testimonials {

    }

    &__testimonial-stars {
        color: #e8b94f;
        text-align: center;
        font-size: 50px;
        line-height: 1;
        display: block;
        margin-bottom: 10px;
    }

    &__testimonial-link {
        display: block;
        vertical-align: top;
        color: #fff;
        margin: 0 auto 10px auto;
        width: 200px;
        text-align: center;
        text-decoration: none;
        font-style: italic;
        transition: 0.2s;

        &:hover {
            text-decoration: underline;
            color: #e0e0e0;
        }
    }

    &__practice-areas {
        display: flex;
        flex-wrap: wrap;
    }

    &__practice-area {
        display: block;
        padding: 10px;
        text-align: center;
        background: lighten(#255988, 10%);
        border: 1px solid lighten(#255988, 10%);
        text-decoration: none;
        transition: 0.2s;
        color: #b9c9e4;
        font-weight: bold;
        font-family: oswald, $sans-serif;
        letter-spacing: 1px;
        font-size: 20px;
        margin-bottom: 10px;
        width: calc(50% - 5px);

        &:nth-of-type(odd) {
            margin-right: 5px;
        }

        &:nth-of-type(even) {
            margin-left: 5px;
        }

        @media screen and (max-width: 500px) {
            width: 100%;
            margin: 0 0 10px 0 !important;
        }

        &:hover {
            color: #fff;
            background: darken(#255988, 10%);
        }
    }

    &__practice-area-link {
        display: block;
        color: #e8b94f;
        transition: 0.2s;
        font-size: 18px;
        text-align: center;
        font-style: italic;
        transition: 0.2s;
        width: 240px;
        text-decoration: none;
        margin: 10px auto 0 auto;

        &:hover {
            color: #fff;
        }
    }

}//End. homepage-hero-info