/*----------------------------------
Generic Page Specific Styles
-----------------------------------*/


/*----------------------------------
Fixing Appearance of Header Letters
on Areas We Serve Page
-----------------------------------*/

.page-id-3154 {

    .entry-content{
        h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
            strong {
                color: $text-color;
            }
        }
    }

} //End page wrapper
/********************
Chatbox popup display none
********************/
#divAutoChatInvFloater, #DisableBackgroundDiv{
  display: none !important;
}

/***************************
Practice Area
***************************/
.practice-areas{

  &__title {
    font-weight: 600;
    font-size: 1.4rem;
    margin: 30px 0;
  }

  &__common{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }

  &__common-box{

    @media screen and (min-width: 641px){
      width: 22%;
    }

    @media screen and (min-width: 381px) and (max-width: 640px){
      width: 47%;
    }

    @media screen and (max-width: 380px){
      width: 99%;
    }

    text-decoration: none;
    padding: 20px;
    margin: 5px !important;
    box-shadow: 0 2px 16px 0 rgba(0,0,0,.2), 0 3px 1px 0 rgba(0,0,0,.19);
    box-sizing: border-box;
    transition: all 0.2s;

    a{
      color: #295985;
    }

    i{
      display: block;
      font-size: 3em;
      color: darken(#FFF, 20%);
      color: #ebcd6c;
    }

    &:hover{
      //background: darken(#FFF, 2%);
      background: #295985;
      color: #fff;

      i{
        color: #ebcd6c;
      }

      a {
        color: #fff;
      }
    }
  }

  &__hr{
    background-image: linear-gradient(to right,transparent,rgba(0,0,0,.25),transparent);

    @media screen and (max-width: 400px){
      display: none;
    }
  }

  &__jump-to-links{
    display: flex;
    justify-content: center;
    max-width: 300px;
    margin: 15px auto !important;

    @media screen and (min-width: 400px){
      font-size: 1.4em;
    }

    @media screen and (max-width: 400px){
      display: none;
    }

    li{
      flex: 1;
      list-style-type: none !important;
      margin-left: 0 !important;

      &:last-child a{
        border: none;
      }

      a{
        padding: 10px;
        text-decoration: none;
        border-right: 1px solid #DDD;


        &:hover{
          background: darken(#FFF, 20%);
        }
      }
    }
  }
}
