.page-template-page-scholarship-php{



    //Grid Styles
    .scholarship-page-left{
        display: block;
        width: 100%;

        @media screen and (min-width: 900px){
            width: 55%;
            float: left;
            padding-right: 20px;
            margin-top: 30px;
        }
    }
    .scholarship-page-right{
        display: block;
        width: 100%;

        @media screen and (min-width: 900px){
            width: 45%;
            float: right;
            padding-left: 10px;
            margin-top: 30px;
        }
    }

    //Begin Form Styles
    .scholarship-form{
        //background: $berger-green;
        color: white;
        padding: 20px;
        font-size: 14px;
        clear: both;
        max-width: 600px;
        background: #042a4c;

        input{
            max-width: none;
        }

        h3{
          position: relative;
          color: #fff;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 700;
          line-height: 45px;
          height: 45px;
          margin-top: 15px;
          margin-bottom: 20px;
          margin-right: -15px;
          text-align: left;
          padding-left: 50px;
          background: #00befd;

          &:before{
            height: 65px;
            width: 65px;
            border-radius: 65px;
            display: block;
            content: '\f19d';
            border: 2px solid #00befd;
            background: #042a4c;
            text-align: center;
            color: #fff;
            font-size: 30px;
            line-height: 60px;
            font-family: fontawesome;
            position: absolute;
            left: -30px;
            top: -10px;
          }
        }

        input[type="Submit"]{
            padding: 8px 10px;
            background: lighten($cordisco-blue, 15%);
            text-transform: uppercase;
            color: #333;
            border: none;

            transition: all 0.2s;

            &:hover{
                background: darken($cordisco-blue, 15%);
                color: white;
            }
        }

        .transcript-upload, .essay-upload{
            margin-top: 10px;
            display: block;
        }

        .wpcf7-not-valid{
            border: 1px solid red;
            margin-bottom: 2px;
        }

        span.wpcf7-not-valid-tip{
            margin-bottom: 14px;
        }

        .form-section-title{
            font-size: 18px;
        }

        input[type="submit"]{
            display: block;
            width: auto;
            margin-left: auto;
            margin-right: auto;
            //text-transform: uppercase;
            color: white;
            border: none;
            transition: all 0.2s;
            font-size: 22px;
            padding: 10px 15px;
            border-radius: 5px;
            //background: $berger-dark-blue;

            @media screen and (max-width: 500px){
                font-size: 22px;
                padding-top: 3px;
                padding-bottom: 3px;
            }


            &:hover{
                background: darken($cordisco-blue, 5%);
            }
        }

        .ajax-loader{
            display: none;
        }


    } // End .lukemia-form


} //END Page Wrapper
