/*--------------------------------------------
Testimonial Page Listing Styles
---------------------------------------------*/

.page-template-page-testimonials-php {

    /*--------------------------------------------
    Review Info Title Styles
    ---------------------------------------------*/

    .page-title {

        text-align: left;

        &__general-text {
            display: inline-block;
            line-height: 1;

            @media screen and (max-width: 800px) {
                display: block;
                margin-bottom: 10px;
                line-height: 1.3;
            }
        }

        &__review-info-stars {
            color: #f1c40f;
            font-size: 1.3rem;
            display: inline-block;
            padding: 0 10px;
            line-height: 1.5;
        }

        &__review-info-text {
            color: $text-color;
            display: inline-block;
            display: inline-block;
            padding: 0 10px;
            line-height: 1.5;
            font-size: 1.3rem;
        }

    } //End .page-title

    /*--------------------------------------------
    Single Testimonial Listing Styles
    ---------------------------------------------*/

    .single-testimonial{

        padding-left: 5px;
        padding-right: 5px;

        &:nth-of-type(even) {
            background: #f0f0f0;
        }

        &__date {
            text-align: center;
            font-weight: normal;
            font-size: 0.95rem;
            padding-bottom: 15px;
            margin-top: 3px;
            font-style: italic;
        }

        &__description {
            text-align: center;
            display: block;
            margin-bottom: 10px;
            line-height: 1.5;
        }

        &__author {
            font-weight: bold;
            margin-top: 15px;
            margin-bottom: 3px;
            line-height: 1;
            display: block;
            text-align: center;
        }

        &__link {
            font-weight: normal;
            text-align: center;
            display: block;
            line-height: 1;
            margin: 3px 0;

            a {
                text-decoration: none !important;

                &:hover {
                    text-decoration: underline !important;
                }
            }
        }

        &__stars {
            display: block;
            text-align: center;
            color: #f1c40f;
            padding-top: 15px;
            margin-bottom: 15px;
            font-size: 1.3rem;
        }

    } //End .single-testimonial


    .solid-hr {
        background: #e0e0e0;
        margin: 0;
    }

} //End page wrapper