/*--------------------------------------------
Video Page Styles
---------------------------------------------*/


//Main Listing Styles

.page-id-4009 {

    .entry-content {
        max-width: 800px;
        margin-left: auto;
        margin-right: auto;

        ul {
            li {
                font-size: 1.2em;
                text-align: center;
                margin-left: none;
                list-style-type: none;
            }
        }
    }

    .page-title {
        text-align: center;
    }

} //End pae wrapper
